@if (errorKey()) {
	@switch (errorKey()) {
		@case ('required') {
			Field required
		}
		@case ('password') {
			Invalid password format!
		}
		@case ('passwordMismatch') {
			Passwords should match!
		}
		@case ('email') {
			Invalid email format!
		}
		@case ('maxlength') {
			Max length is {{ errorValue()?.requiredLength }}!
		}
		@case ('min') {
			Minimum value is {{ errorValue()?.min }}!
		}
		@case ('max') {
			Maximum value is {{ errorValue()?.max }}!
		}
		@case ('filledArray') {
			You have to choose minimum 1 value!
		}
	}
}
