@if (errorKey()) {
	@switch (errorKey()) {
		@case ('required') {
			{{ 'validators.required' | translate }}
		}
		@case ('password') {
			{{ 'validators.password' | translate }}
		}
		@case ('passwordMismatch') {
			{{ 'validators.passwordMismatch' | translate }}
		}
		@case ('email') {
			{{ 'validators.email' | translate }}
		}
		@case ('minlength') {
			{{ 'validators.minlength' | translate: { requiredLength: errorValue()?.requiredLength } }}
		}
		@case ('maxlength') {
			{{ 'validators.maxlength' | translate: { requiredLength: errorValue()?.requiredLength } }}
		}
		@case ('min') {
			{{ 'validators.min' | translate: { min: errorValue()?.min } }}
		}
		@case ('max') {
			{{ 'validators.max' | translate: { max: errorValue()?.max } }}
		}
		@case ('filledArray') {
			{{ 'validators.filledArray' | translate }}
		}
		@case ('theme') {
			{{ 'validators.theme' | translate }}
		}
		@case ('dayOfWeekRequired') {
			{{ 'validators.dayOfWeekRequired' | translate }}
		}
		@case ('dayOfMonthRequired') {
			{{ 'validators.dayOfMonthRequired' | translate }}
		}
		@case ('endDateRequired') {
			{{ 'validators.endDateRequired' | translate }}
		}
		@case ('matDatepickerFilter') {
			{{ 'validators.matDatepickerFilter' | translate }}
		}
	}
}
