@if (errorKey()) {
	@switch (errorKey()) {
		@case ('required') {
			{{ 'validators.required' | transloco }}
		}
		@case ('password') {
			{{ 'validators.passowrd' | transloco }}
		}
		@case ('passwordMismatch') {
			{{ 'validators.passwordMismatch' | transloco }}
		}
		@case ('email') {
			{{ 'validators.email' | transloco }}
		}
		@case ('minlength') {
			{{ 'validators.minlength' | transloco: { requiredLength: errorValue()?.requiredLength } }}
		}
		@case ('maxlength') {
			{{ 'validators.maxlength' | transloco: { requiredLength: errorValue()?.requiredLength } }}
		}
		@case ('min') {
			{{ 'validators.min' | transloco: { min: errorValue()?.min } }}
		}
		@case ('max') {
			{{ 'validators.max' | transloco: { max: errorValue()?.max } }}
		}
		@case ('filledArray') {
			You have to choose minimum 1 value!
		}
	}
}
