@import '../../../../styles/imports.scss';

.catalog-widget-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	gap: 1rem;
}

mat-card.selected {
	outline: 3px solid var(--primary-color);
}

img {
	height: 250px;
	width: 100%;
	object-fit: contain;
}
