<section class="d-flex flex-column h-100 justif-content-between p-2 pb-0 p-sm-3 p-md-4 gap-0">
	<!-- Profile data -->
	<form class="d-flex flex-column gap-4" [formGroup]="userDataForm" (submit)="saveUserData(); $event.preventDefault()">
		<div class="d-flex flex-row flex-nowrap align-items-center justify-content-center justify-content-md-start gap-2">
			<h3 class="m-0 text-center text-md-start fs-2">Profile data</h3>
			<div class="d-flex flex-row flex-nowrap align-items-center justify-content-center gap-2">
				@if (isUserDataFormEditing()) {
					<ex-button
						filled
						color="primary"
						matIcon="check"
						collapsedStyle="filled"
						collapseUnder="sm"
						[disabled]="userDataForm.invalid"
						type="submit"
					>
						Save
					</ex-button>
					<ex-button
						outlined
						color="accent"
						matIcon="close"
						collapsedStyle="outlined"
						collapseUnder="sm"
						type="button"
						(click)="cancelDataEditing()"
					>
						Cancel
					</ex-button>
				} @else {
					<ex-button 
						iconButton
						matIcon="edit"
						color="primary"
						type="button"
						(click)="isUserDataFormEditing.set(true)"
					/>
				}
			</div>
		</div>

		<div class="d-flex flex-column flex-md-row gap-3 w-100 mb-2">
			@let nameControl = userDataForm.controls.username;
			<mat-form-field>
				<mat-label>Username</mat-label>
				<input matInput [formControl]="nameControl" />
				<ex-input-clear matSuffix [control]="nameControl"/>
				<mat-error>
					<ex-validator [control]="nameControl" />
				</mat-error>
			</mat-form-field>

			@let emailControl = userDataForm.controls.email;
			<mat-form-field>
				<mat-label>Email</mat-label>
				<input matInput type="email" [formControl]="emailControl" />
				<ex-input-clear matSuffix [control]="emailControl" />
				<mat-error>
					<ex-validator [control]="emailControl" />
				</mat-error>
			</mat-form-field>
		</div>
	</form>

	<!-- Password -->
	<div class="d-flex flex-column gap-4">
		@if (isPasswordFormEditing()) {
			<h3 class="m-0 text-center text-md-start fs-2">Change password</h3>
			<form [formGroup]="passwordForm" (submit)="savePassword(); $event.preventDefault()">
				<div class="d-flex flex-column gap-3 w-100">
					@let pwdControl = passwordForm.controls.password;
					<mat-form-field>
						<mat-label>Old password</mat-label>
						<input matInput type="password" [formControl]="pwdControl" />
						<ex-input-clear matSuffix [control]="pwdControl" />
						<mat-error>
							<ex-validator [control]="pwdControl" />
						</mat-error>
					</mat-form-field>

					<div class="d-flex flex-column flex-md-row gap-3 w-100">
						@let newPwdControl = passwordForm.controls.newPassword;
						<mat-form-field>
							<mat-label>New password</mat-label>
							<input matInput type="password" [formControl]="newPwdControl" />
							<ex-input-clear matSuffix [control]="newPwdControl" />
							<mat-error>
								<ex-validator [control]="newPwdControl" />
							</mat-error>
						</mat-form-field>

						@let confirmPwdControl = passwordForm.controls.confirmPassword;
						<mat-form-field>
							<mat-label>Confirm password</mat-label>
							<input matInput type="password" [formControl]="confirmPwdControl" />
							<ex-input-clear matSuffix [control]="confirmPwdControl" />
							<mat-error>
								<ex-validator [control]="confirmPwdControl" />
							</mat-error>
						</mat-form-field>
					</div>
				</div>

				<div class="d-flex flex-column flex-md-row flex-nowrap align-items-center gap-2">
					<ex-button
						filled
						color="primary"
						matIcon="check"
						[disabled]="passwordForm.invalid"
						type="submit"
						class="action-button"
					>
						Save
					</ex-button>
					<ex-button
						outlined
						color="accent"
						matIcon="close"
						type="button"
						class="action-button"
						(click)="cancelPasswordEditing()"
					>
						Cancel
					</ex-button>
				</div>

			</form>
		} @else {
			<div class="d-flex">
				<ex-button 
					filled
					color="primary"
					(click)="isPasswordFormEditing.set(true)"
					class="action-button"
					>
					Change password
				</ex-button>
			</div>
		}
	</div>

	<mat-divider />

	<!-- Sessions -->
	<ex-sessions-list />
</section>
