<mat-card class="flex-column justify-content-center align-items-center gap-4 p-5">
	<mat-card-header class="flex-column gap-2 justify-content-center w-100 mb-2">
		<mat-icon class="mx-auto mb-5" size="2xxl" [svgIcon]="svgIcons.logo" />
		<h2 class="fs-1">{{ 'login.title' | translate }}</h2>
		<p class="m-0 fs-5 fw-light">
			{{ 'login.noAccount' | translate }}
			<a class="fw-semibold" [routerLink]="navigationService.account().register()">{{
				'login.createButton' | translate
			}}</a>
		</p>
	</mat-card-header>

	<form class="d-flex flex-column w-100" (submit)="login()" stopPropagation [formGroup]="loginForm">
		<mat-card-content class="d-flex flex-column gap-3 w-100">
			@let emailControl = loginForm.controls.email;
			<mat-form-field>
				<mat-label>{{ 'login.email' | translate }}</mat-label>
				<input matInput autoTrim [formControl]="emailControl" type="email" />
				<ex-input-clear matSuffix [control]="emailControl" />
				<mat-error>
					<ex-validator [control]="emailControl" />
				</mat-error>
			</mat-form-field>
			@let pwdControl = loginForm.controls.password;
			<mat-form-field>
				<mat-label>{{ 'login.password' | translate }}</mat-label>
				<input matInput [formControl]="pwdControl" type="password" />
				<ex-input-clear matSuffix [control]="pwdControl" />
				<mat-error>
					<ex-validator [control]="pwdControl" />
				</mat-error>
			</mat-form-field>
		</mat-card-content>
		<mat-card-actions class="justify-content-between align-items-center gap-2 w-100 px-4 pt-0">
			<a class="forgot-password" [routerLink]="navigationService.account().forgotPassword()">{{
				'login.forgotPassword' | translate
			}}</a>
			<ex-button filled type="submit" matIcon="arrow_right_alt" iconPositionEnd [disabled]="loginForm.invalid">
				{{ 'login.button' | translate }}
			</ex-button>
		</mat-card-actions>
	</form>
</mat-card>
