a {
	text-decoration: underline;
	color: var(--primary-color);
	transition: color 0.25s;
	&:hover {
		color: var(--hover-color);
	}
}

.forgot-password {
	font-size: 16px;
	color: var(--default-text-color);
	transition: color 0.3s;

	&:hover {
		color: var(--app-hover-color);
	}
}
