<mat-card class="flex-column justify-content-center align-items-center gap-4 p-5">
	<mat-card-header class="flex-column gap-2 justify-content-center w-100 mb-2">
		<mat-icon
			class="mx-auto mb-5"
			size="2xxl"
			[svgIcon]="svgIcons.logo"
		/>
		<h2 class="fs-1">Log in to your account</h2>
		<p class="m-0 fs-5 fw-light">
			Don't have an account?
			<a class="fw-semibold" [routerLink]="navigationService.account().register()">Create one</a>
		</p>
	</mat-card-header>

	<mat-card-content [formGroup]="loginForm" class="d-flex flex-column gap-3 w-100">
		@let emailControl = loginForm.controls.email;		
		<mat-form-field>
			<mat-label>Email</mat-label>
			<input
				matInput
				[formControl]="emailControl"
				type="email"
				autoTrim
			/>
			<ex-input-clear matSuffix [control]="emailControl"/>
			<mat-error>
				<ex-validator [control]="emailControl" />
			</mat-error>
		</mat-form-field>
		@let pwdControl = loginForm.controls.password;
		<mat-form-field>
			<mat-label>Password</mat-label>
			<input
				matInput
				[formControl]="pwdControl"
				type="password"
			/>
			<ex-input-clear matSuffix [control]="pwdControl"/>
			<mat-error>
				<ex-validator [control]="pwdControl" />
			</mat-error>
		</mat-form-field>
	</mat-card-content>
	<mat-card-actions class="justify-content-between align-items-center gap-2 w-100 px-4 pt-0">
		<a class="forgot-password" [routerLink]="navigationService.account().forgotPassword()">Forgot password?</a>
		<ex-button
			filled
			type="submit"
			matIcon="arrow_right_alt"
			iconPositionEnd
			[disabled]="loginForm.invalid"
			(click)="login()"
		>
			Log in
		</ex-button>
	</mat-card-actions>
</mat-card>
