@import '../../../styles/imports.scss';

a {
	text-decoration: underline;
	color: var(--primary-color);
	transition: color 0.25s;
	&:hover {
		color: var(--hover-color);
	}
}

.login {
	font-size: 16px;
	color: var(--accent-color);
	transition: color 0.3s;
}

.icon-container {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	background-color: lighten(var(--primary-color), 30%);
	padding: 0.5rem;
	margin-top: 0.25rem;

	mat-icon {
		color: var(--secondary-text-color);
	}
}

.sent-action {
	margin-top: 2rem;

	a {
		text-decoration: underline;
		color: var(--primary-color);
		transition: color 0.25s;
		&:hover {
			color: var(--hover-color);
		}
	}
}

.subtitle {
	color: var(--accent-text-color);
	max-width: 40ch;
}
