@if (!token()) {
	@if (!emailSent()) {
		<mat-card class="flex-column justify-content-center align-items-center gap-4 p-5 text-center text-md-start">
			<mat-card-header class="flex-column gap-2 justify-content-center w-100">
				<mat-icon class="mx-auto mb-5" size="2xxl" [svgIcon]="svgIcons.logo" />
				<h2 class="fs-1">{{ 'forgotPassword.title' | transloco }}</h2>
				<p class="m-0 fs-5 fw-light">{{ 'forgotPassword.subtitle' | transloco }}</p>
			</mat-card-header>

			<form class="d-flex flex-column w-100" (submit)="send()" stopPropagation>
				<mat-card-content class="w-100">
					<mat-form-field>
						<mat-label>{{ 'forgotPassword.email' | transloco }}</mat-label>
						<input matInput autoTrim [formControl]="emailControl" type="email" />
						<ex-input-clear matSuffix [control]="emailControl" />
						<mat-error>
							<ex-validator [control]="emailControl" />
						</mat-error>
					</mat-form-field>
				</mat-card-content>

				<mat-card-actions class="flex-column justify-content-center align-items-center gap-3 w-100 px-4">
					<ex-button filled class="w-100" [disabled]="emailControl.invalid" type="submit">
						{{ 'forgotPassword.sendButton' | transloco }}
					</ex-button>

					<p class="m-0 fw-light login">
						{{ 'forgotPassword.remember' | transloco }}
						<a class="fw-bold" [routerLink]="this.navigation.account().login()">{{
							'forgotPassword.login' | transloco
						}}</a>
					</p>
				</mat-card-actions>
			</form>
		</mat-card>
	} @else {
		<mat-card class="d-flex flex-column justify-content-center align-items-center gap-4 p-5">
			<mat-card-content class="d-flex flex-row flex-nowrap gap-4 w-100 p-0">
				<div>
					<div class="icon-container">
						<mat-icon size="lg">mail</mat-icon>
					</div>
				</div>

				<div>
					<h2 class="fs-1 fw-bold">{{ 'forgotPassword.emailSent.title' | transloco }}</h2>
					<p class="m-0 subtitle" [innerHTML]="'forgotPassword.emailSent.subtitle' | transloco"></p>
					<p class="sent-action fs-5 fw-semibold">
						{{ 'forgotPassword.emailSent.notRecieved' | transloco }}
						<a class="fw-bold pointer-cursor" (click)="resend()">{{
							'forgotPassword.emailSent.retry' | transloco
						}}</a>
					</p>
					<p class="sent-action fs-5 fw-semibold">
						{{ 'forgotPassword.emailSent.badEmail' | transloco }}
						<a class="fw-bold pointer-cursor" (click)="emailSent.set(false)">{{
							'forgotPassword.emailSent.changeEmail' | transloco
						}}</a>
					</p>
				</div>
			</mat-card-content>
		</mat-card>
	}
} @else {
	<mat-card class="flex-column justify-content-center align-items-center gap-4 p-5 text-center text-md-start">
		<mat-card-header class="flex-column gap-2 justify-content-center w-100">
			<mat-icon class="mx-auto mb-5" size="2xxl" [svgIcon]="svgIcons.logo" />
			<h2 class="fs-1">{{ 'forgotPassword.new.title' | transloco }}</h2>
			<p class="m-0 fs-5 fw-light" [innerHTML]="'forgotPassword.new.info' | transloco"></p>
		</mat-card-header>

		<mat-card-content class="d-flex flex-column gap-4 w-100" [formGroup]="resetForm">
			@let pwdControl = resetForm.controls.password;
			<mat-form-field>
				<mat-label>{{ 'forgotPassword.new.password' | transloco }}</mat-label>
				<input matInput [formControl]="pwdControl" type="password" />
				<ex-input-clear matSuffix [control]="pwdControl" />
				<ex-validator [control]="pwdControl" />
			</mat-form-field>
			@let confirmControl = resetForm.controls.confirmPassword;
			<mat-form-field>
				<mat-label>{{ 'forgotPassword.new.confirmPassword' | transloco }}</mat-label>
				<input matInput [formControl]="confirmControl" type="password" />
				<ex-input-clear matSuffix [control]="confirmControl" />
				<ex-validator [control]="confirmControl" />
			</mat-form-field>
		</mat-card-content>

		<mat-card-actions class="w-100 px-4">
			<ex-button filled class="w-100" [disabled]="resetForm.invalid" (click)="resetPassword()">
				{{ 'forgotPassword.new.reset' | transloco }}
			</ex-button>
		</mat-card-actions>
	</mat-card>
}
