@use 'sass:map';
@use '@angular/material' as mat;
@use '../variables/colors-light' as colors;

$theme: mat.define-theme((
	color: (
		theme-type: light,
		primary: colors.$primary,
		tertiary: colors.$tertiary,
	),
	typography: (
		plain-family: "Montserrat, sans-serif",
		brand-family: "Montserrat, sans-serif",
		medium-weight: 400,
	),
));
