@use '@angular/material' as mat;
@use '../variables/colors-light' as colors;

$theme: mat.define-theme(
	(
		color: (
			theme-type: light,
			primary: colors.$primary-palette,
			tertiary: colors.$tertiary-palette,
		),
		typography: (
			plain-family: 'Montserrat, sans-serif',
			brand-family: 'Montserrat, sans-serif',
			medium-weight: 400,
		),
	)
);
