.mat-badge-medium.mat-badge-overlap span.mat-badge-content {
	--mat-badge-container-overlap-offset: -10px;
	--mat-badge-text-size: 10px;
	--mat-badge-container-padding: 1px 7px;
	--mat-badge-background-color: var(--default-text-color);
	--mat-badge-text-color: var(--secondary-text-color);
}
