mat-bottom-sheet-container.mat-bottom-sheet-container {
	--mat-bottom-sheet-container-background-color: var(--app-card-color);
	--mat-bottom-sheet-container-text-color: var(--default-text-color);

	position: relative;
	overflow: hidden;
}