$type-settings: (
	'expense': (
		color: var(--error-color),
		transform: null,
	),
	'income': (
		color: var(--tertiary-color),
		transform: calc(100% - 1px),
	),
	'mixed': (
		color: var(--warn-color),
		transform: calc(200% - 2px),
	),
);

mat-button-toggle-group.mat-button-toggle-group {
	$transition-speed: 200ms;

	display: flex;
	width: 100%;
	border: none;
	border-radius: var(--mat-button-toggle-shape);
	background-color: var(--app-card-color);
	padding: 4px;

	&.app-bg-color {
		background-color: var(--app-background-color);
	}

	// Default sliding background for 3 buttons
	&::before {
		content: '';
		position: absolute;
		top: 4px;
		bottom: 4px;
		width: calc(100% / 3 - 2px);
		border-radius: var(--mat-button-toggle-shape);
		background-color: var(--error-color);
		transition:
			transform $transition-speed ease-in-out,
			background-color $transition-speed ease-in-out;
		z-index: 1;
		pointer-events: none;
	}

	// If only 2 buttons exist
	&:has(mat-button-toggle:last-child:nth-child(2))::before {
		width: calc(50% - 4px);
	}

	// Transform adjustment for 2-button layout
	&:has(mat-button-toggle:last-child:nth-child(2)):has(.type-income.mat-button-toggle-checked)::before {
		transform: translateX(calc(100%));
	}

	@each $type, $settings in $type-settings {
		&:has(.type-#{$type}.mat-button-toggle-checked)::before {
			background-color: map-get($settings, color);
			transform: translateX(map-get($settings, transform));
		}
	}

	mat-button-toggle.mat-button-toggle.mat-button-toggle-appearance-standard {
		flex: 1 1 0;
		min-width: 0;
		border: none;
		border-radius: var(--mat-button-toggle-shape);
		color: var(--default-text-color);
		--mat-button-toggle-label-text-weight: 500;
		transition: color $transition-speed ease-in-out;

		button.mat-button-toggle-button {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 32px;
			border-radius: var(--mat-button-toggle-shape);

			.mat-button-toggle-label-content {
				z-index: 2;
			}
		}

		.mat-button-toggle-ripple {
			border-radius: var(--mat-button-toggle-shape);
		}
	}

	mat-button-toggle.mat-button-toggle-checked.mat-button-toggle-appearance-standard {
		color: var(--app-background-color);
		--mat-button-toggle-selected-state-background-color: transparent;
	}
}
