$type-colors: (
			'expense': var(--error-color),
			'income': var(--tertiary-color),
			'mixed': var(--warn-color)
		);

mat-button-toggle-group.mat-button-toggle-group {
	$pill-radius: 999px;
	
	border: none;
	background-color: var(--secondary-color);
	padding: 4px;

	mat-button-toggle.mat-button-toggle.mat-button-toggle-appearance-standard {
		flex: 1;
		color: var(--default-text-color);
		border: none;
		border-radius: $pill-radius;
		--mat-button-toggle-label-text-weight: 500;

		button.mat-button-toggle-button {
			border-radius: $pill-radius;
			padding: 0 12px;
			height: 32px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.mat-button-toggle-ripple {
			border-radius: $pill-radius;
		}
	}

	mat-button-toggle.mat-button-toggle-checked.mat-button-toggle-appearance-standard {
		color: var(--app-background-color);
		--mat-button-toggle-label-text-weight: 500;

		@each $type, $color in $type-colors {
			&.type-#{$type} button.mat-button-toggle-button {
				background-color: $color;
			}
		}
	}
}