gridster.custom-grid {
	background-color: transparent;

	gridster-item {
		border-radius: 20px;
		background-color: transparent;
		box-shadow: none;

		user-select: none;
		-webkit-user-drag: none;
		overflow: unset;

		div.gridster-item-resizable-handler.handle-se {
			opacity: 0;
		}
	}

	gridster-preview.gridster-preview {
		border-radius: 20px;
	}
}

.dragger {
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	z-index: 2;
}
