@import "../imports.scss";

mat-snack-bar-container.mat-mdc-snack-bar-container.custom-snackbar {
	.mdc-snackbar__label {
		--mat-snack-bar-supporting-text-size: 16px;
		--mat-snack-bar-supporting-text-weight: 700;
	}

	.mat-mdc-snackbar-surface {
		background-color: unset;
		box-shadow: unset;
		padding: 0;

		.mat-mdc-snack-bar-label {
			padding: 0;
		}
	}
}