mat-tab-group.mat-mdc-tab-group {
	--mat-tab-divider-color: var(--default-text-color);
	--mat-tab-active-label-text-color: var(--default-text-color);
	--mat-tab-inactive-label-text-color: var(--default-text-color);
	--mat-tab-active-hover-label-text-color: var(--default-text-color);
	--mat-tab-inactive-hover-label-text-color: var(--default-text-color);
	--mat-tab-active-focus-label-text-color: var(--default-text-color);
	--mat-tab-inactive-focus-label-text-color: var(--default-text-color);
}
