@import '../../../styles/imports.scss';

.empty-state {
	height: calc(100vh - 64px);
}

.action-buttons {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	align-items: flex-end;

	position: fixed;
	bottom: 6rem;
	right: 1rem;
	z-index: 1;

	@include displayMd {
		bottom: 1rem;
	}
}
