<section data-testid="stat-card-list" [style.--stat-col-count]="colCount()">
	<div class="stat-card-list" (scroll)="onCardsScroll($event)">
		<gridster [options]="options()" class="custom-grid" [style.min-width.px]="gridMinWidth()">
			@for (card of data(); track card.id + ':' + card.x) {
				<gridster-item data-testid="stat-card-item" [item]="card">
					@if (editing()) {
						<ex-button
							data-testid="stat-card-dragger"
							matIcon="drag_indicator"
							iconButton
							class="dragger"
						/>
					}
					<ex-stat-card class="h-100" [widget]="card" />
				</gridster-item>
			}
		</gridster>
	</div>

	@if (editing()) {
		<div
			class="modification-buttons-row"
			[style.min-width.px]="gridMinWidth()"
			[style.transform]="'translateX(-' + scrollLeft() + 'px)'"
		>
			@for (card of data(); track card.id) {
				<div class="modification-buttons-cell">
					<div class="d-flex flex-column gap-2 position-absolute chart-modification-buttons">
						<ex-button
							data-testid="stat-card-delete-btn"
							matIcon="delete"
							(click)="deleteCard(card)"
							primaryIconButton
							color="error"
						/>
						<ex-button
							data-testid="stat-card-edit-btn"
							matIcon="edit"
							(click)="openEditWidgetDialog(card)"
							primaryIconButton
						/>
					</div>
				</div>
			}
		</div>
	}
</section>
