@if (iconButton()) {
	<button
		class="d-flex justify-content-center align-items-center"
		mat-icon-button
		[disabled]="disabled()"
		[type]="type()"
		[color]="color()"
	>
		<ng-container [ngTemplateOutlet]="icon" />
	</button>
} @else {
	<button
		[matButton]="appearance"
		[disabled]="disabled()"
		[type]="type()"
		[color]="color()"
		[class.collapsed]="!shouldNotCollapse() && (matIcon() || svgIcon())"
		[class.icon-position-end]="iconPositionEnd()"
		[class.has-icon]="matIcon() || svgIcon()"
		[class.has-custom-color]="customColor()"
		[class.primary-icon-button]="primaryIconButton()"
	>
		<div
			class="d-flex flex-row flex-nowrap justify-content-center align-items-center gap-2 text-nowrap"
		>
			@if (iconPositionEnd()) {
				<ng-container [ngTemplateOutlet]="text" />
				<ng-container [ngTemplateOutlet]="icon" />
			} @else {
				<ng-container [ngTemplateOutlet]="icon" />
				<ng-container [ngTemplateOutlet]="text" />
			}
		</div>
	</button>
}

<ng-template #text>
	@if (shouldNotCollapse() || (!matIcon() && !svgIcon())) {
		<ng-content />
	}
</ng-template>

<ng-template #icon>
	@if (svgIcon()) {
		<mat-icon [svgIcon]="svgIcon()!" />
	} @else if (matIcon()) {
		<mat-icon>{{ matIcon() }}</mat-icon>
	}
</ng-template>
