<section
	class="d-flex flex-column h-100 justif-content-between p-2 pb-0 p-sm-3 p-md-4 gap-2"
	[class.overflow-hidden]="display.isMd()"
>
	<div
		class="d-flex flex-row justify-content-center justify-content-md-between align-items-center gap-2 flex-grow-1 flex-shrink-1"
	>
		<h2 class="m-0 text-center text-md-start {{ display.isSm() ? 'fs-1' : 'fs-2' }}">Transactions</h2>
		@if (display.isMd()) {
			<ng-container [ngTemplateOutlet]="tabs" />
		}
	</div>

	<div
		class="d-flex flex-column justify-content-between gap-4 h-100 flex-grow-1 flex-shrink-1"
		[class.overflow-hidden]="display.isMd()"
	>
		<!-- TODO recurring row -->
		<div class="d-flex flex-row gap-4 smaller-row">
			@if (display.isLg()) {
				<ex-data-table
					[data]="transactions"
					[categories]="categories"
					matIcon="money_off"
					class="flex-grow-1"
					nonExpandable
					paginationDisabled
					title="Recurring Incomes"
				/>
				<ex-data-table
					[data]="transactions"
					[categories]="categories"
					matIcon="money_off"
					class="flex-grow-1"
					nonExpandable
					paginationDisabled
					title="Recurring Expenses"
				/>
			} @else {
				<ex-data-table
					[data]="transactions"
					[categories]="categories"
					matIcon="money_off"
					class="flex-grow-1"
					nonExpandable
					paginationDisabled
					title="Recurrings"
				/>
			}
		</div>

		<!-- TODO main -->
		<div
			class="d-flex flex-column h-100 gap-2 bigger-row"
			[class.overflow-hidden]="display.isMd()"
		>
			<div class="d-flex flex-row flex-nowrap justif-content-between">
				<ex-button
					filled
					(click)="openAddTransactionDialog()"
				>
					Add transaction
				</ex-button>
			</div>
			<ex-data-table
				[data]="transactions"
				[categories]="categories"
				matIcon="payments"
				[class.overflow-hidden]="display.isMd()"
				title="Transactions"
			/>
		</div>
	</div>
</section>

<ng-template #tabs></ng-template>
