<mat-card [formGroup]="form" class="gap-4 p-4">
	<mat-card-header class="justify-content-center">
		<h3 class="fs-1 fw-bold">New transaction</h3>
	</mat-card-header>

	<mat-card-content class="d-flex flex-column gap-3">
		@let titleControl = form.controls.title;
		<mat-form-field>
			<mat-label>Title</mat-label>
			<input
				matInput
				autoTrim
				[formControl]="titleControl"
			/>
			<ex-input-clear matSuffix [control]="titleControl" />
			<mat-error>
				<ex-validator [control]="titleControl" />
			</mat-error>
		</mat-form-field>

		<div class="d-flex flex-column flex-md-row gap-3">
			@let amountControl = form.controls.amount;
			<mat-form-field>
				<mat-label>Amount</mat-label>
				<input
					matInput
					type="number"
					[formControl]="amountControl"
				/>
				<ex-input-clear matSuffix [control]="amountControl" />
				<mat-error>
					<ex-validator [control]="amountControl" />
				</mat-error>
			</mat-form-field>

			@let dateControl = form.controls.date;
			<mat-form-field>
				<mat-label>Date</mat-label>
				<input
					matInput
					[matDatepicker]="picker"
					[formControl]="dateControl"
				/>
				<mat-datepicker-toggle matIconSuffix [for]="picker" />
				<mat-datepicker #picker />
				<mat-error>
					<ex-validator [control]="dateControl" />
				</mat-error>
			</mat-form-field>
		</div>

		<div class="d-flex flex-column flex-md-row gap-3">
			@let categoryControl = form.controls.category.controls;
			<mat-form-field>
				<mat-label>Category</mat-label>
				<mat-select [formControl]="categoryControl.category" (closed)="categoryControl.searchText.reset()">
					<mat-form-field subscriptSizing="dynamic" class="search-with-select">
						<mat-label>Search</mat-label>
						<input autoTrim matInput [formControl]="categoryControl.searchText" #searchCategoryInput>
						<ex-input-clear [control]="categoryControl.searchText" />
						<mat-error>
							<ex-validator [control]="categoryControl.searchText"/>
						</mat-error>
					</mat-form-field>
					@for (category of filteredCategories(); track category.id) {
						<mat-option [value]="category">{{ `${category.name} - ${category.emoji}` }}</mat-option>
					}
				</mat-select>
				<mat-error>
					<ex-validator [control]="categoryControl.category" />
				</mat-error>
			</mat-form-field>

			@let typeControl = form.controls.type;
			<mat-form-field>
				<mat-label>Type</mat-label>
				<mat-select [formControl]="typeControl">
					@for (type of transactionTypes; track type) {
						<mat-option [value]="type">{{ type }}</mat-option>
					}
				</mat-select>
				<mat-error>
					<ex-validator [control]="typeControl" />
				</mat-error>
			</mat-form-field>
		</div>

		@let noteControl = form.controls.note;
		<mat-form-field>
			<mat-label>Note</mat-label>
			<textarea matInput autoTrim cdkTextareaAutosize cdkAutosizeMinRows="4" [formControl]="noteControl"></textarea>
			<mat-error>
				<ex-validator [control]="noteControl" />
			</mat-error>
		</mat-form-field>

		<!-- TODO change to textarea -->
		@let recurringControl = form.controls.recurring;
		<mat-checkbox [formControl]="recurringControl">Automatically recurring?</mat-checkbox>
	</mat-card-content>

	<mat-card-actions class="justify-content-end align-items-center gap-2 w-100 px-4 pt-0">
		<ex-button
			outline
			color="accent"
			matIcon="close"
			(click)="close()"
		>
			Cancel
		</ex-button>
		<ex-button
			filled
			color="primary"
			matIcon="add"
			[disabled]="form.invalid"
			(click)="create()"
		>
			Create
		</ex-button>
	</mat-card-actions>
</mat-card>
