// styles only that are global to the whole application
@import '@ctrl/ngx-emoji-mart/picker';
@import './imports';
@import './themes/app-theme.scss';
@import './bootstrap.scss';
@import './components/icon.scss';
@import './components/menu.scss';
@import './fonts/material-icons.scss';

* {
	box-sizing: border-box;
}

html {
	max-width: 100dvw;
	min-height: 100dvh;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: $default-font-size;
}

body {
	background-color: var(--app-background-color);
	color: var(--default-text-color);
	font-weight: normal;
	line-height: 1.5;
	margin: 0;
	text-align: left;
	height: 100%;
	scrollbar-color: var(--primary-color) #c9c9f2;
}

a {
	color: inherit;
	text-decoration: none;
}

.header-1 {
	font-weight: bold;
	font-size: $header-1;
}

.header-2 {
	font-weight: bold;
	font-size: $header-2;
}

.header-3 {
	font-size: $header-3;
}

.centralize {
	@include centralize(100%);
}

hr {
	background-color: alpha(--secondary-color, 55);
	height: 1px;
	border: none;
	opacity: 0.36;
}

.pointer-cursor {
	cursor: pointer;
}

.ex-nav-button {
	transition: background-color 0.25s;
	text-decoration: none;
	padding: 8px;
	border: none;
	border-radius: 1rem;
	color: inherit;
	cursor: pointer;

	&:hover {
		background-color: var(--app-background-color);
	}
	
	@include displayMd {
		padding: 8px 16px;
	}
}
