// styles only that are global to the whole application
@import './imports';
@import './themes/app-theme.scss';
@import './bootstrap.scss';
@import './components/icon.scss';
@import './components/menu.scss';
@import './components/card.scss';
@import './components/form-field.scss';
@import './components/progress.scss';
@import './components/tooltip.scss';
@import './components/dialog.scss';
@import './components/divider.scss';
@import './components/snackbar.scss';
@import './components/badge.scss';
@import './components/error.scss';
@import './components/bottom-sheet.scss';
@import './components/button-toggle-group.scss';
@import './components/apexchart.scss';
@import './components/gridster.scss';
@import './components/tab-group.scss';
@import './components/stepper.scss';
@import './components/sidenav.scss';
@import './fonts/material-icons.scss';

* {
	box-sizing: border-box;
	scrollbar-color: lighten(var(--secondary-color), 25%) lighten(var(--secondary-color), 65%);
	scrollbar-width: thin;
}

html {
	max-width: 100dvw;
	min-height: 100dvh;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: $default-font-size;
}

body {
	--bs-body-font-family: 'Montserrat', Arial, sans-serif;
	font-family: var(--bs-body-font-family);
	background-color: var(--app-background-color);
	color: var(--default-text-color);
	font-weight: normal;
	line-height: 1.5;
	margin: 0;
	text-align: left;
	height: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

.header-1 {
	font-weight: bold;
	font-size: $header-1;
}

.header-2 {
	font-weight: bold;
	font-size: $header-2;
}

.header-3 {
	font-size: $header-3;
}

.centralize {
	@include centralize(100%);
}

hr {
	background-color: lighten(var(--secondary-color), 45%);
	height: 1px;
	border: none;
	opacity: 0.36;
}

.pointer-cursor {
	cursor: pointer;
}

.ex-nav-button {
	transition: background-color 0.25s;
	text-decoration: none;
	padding: 8px;
	border: none;
	border-radius: 1rem;
	color: inherit;
	cursor: pointer;
	background-color: transparent;

	&:hover {
		background-color: var(--app-background-color);
	}

	@include displayMd {
		padding: 0.5rem;
	}

	@include displayXl {
		padding: 8px 16px;
	}
}

.highlighted-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	background-color: var(--app-background-color);
	padding: 0.5rem;
}

.income {
	color: var(--bs-success);
}

.expense {
	color: var(--bs-danger);
}

.grayscaled {
	filter: grayscale(1);
}

mat-card.mat-mdc-card.categories mat-card-header .mat-mdc-card-header-text {
	width: 100%;
}

mat-form-field.mat-mdc-form-field.search-with-select {
	padding: 0 0.5rem;
	padding-bottom: 0.5rem;

	.mat-mdc-text-field-wrapper {
		background-color: transparent;
	}

	.mat-mdc-form-field-infix {
		display: flex;
		align-items: center;
		padding: 0;
		padding-top: 5px;
	}
}

mat-checkbox {
	--mat-checkbox-touch-target-display: none;
	--mat-checkbox-label-text-color: var(--default-text-color);
	--mat-checkbox-unselected-icon-color: var(--default-text-color);
	--mat-checkbox-unselected-hover-icon-color: var(--default-text-color);
	--mat-checkbox-unselected-focus-icon-color: var(--default-text-color);
}

::selection {
	background-color: var(--primary-color);
	color: var(--secondary-text-color);
}

.action-buttons ex-button button {
	box-shadow: 0 0 7px var(--shadow-color);
}

.chart-modification-buttons {
	top: 0;
	right: 0.5rem;
	transform: translateX(50%);
	z-index: 20;
}

.username {
	font-weight: bold;
	color: var(--primary-color);
}

mat-drawer.mat-drawer-side {
	a.ex-nav-button.active,
	.ex-nav-button.selected {
		background-color: var(--app-background-color);
	}
}
