@use "@angular/material" as mat;
@use "./_theme-colors" as colors;

:root {
  --text: #{colors.$text};
  --surface: light-dark(#fff4f0, #151828);
  --on-surface: light-dark(red, #fff4f0);
  --background: light-dark(#fff4f0, #121420);
  --on-primary-fixed: #151828;

  // Size scale in rem units
  --size-xxs: 0.25rem; // 4px
  --size-xs: 0.5rem; // 8px
  --size-sm: 0.75rem; // 12px
  --size-md: 1rem; // 16px
  --size-lg: 1.5rem; // 24px
  --size-xl: 2rem; // 32px
  --size-xxl: 3rem; // 48px
}

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: (
        primary: colors.$primary-palette,
        tertiary: colors.$tertiary-palette,
      ),
      typography: Montserrat,
      density: 0,
    ),
    $overrides: (
      primary-fixed: colors.$primary,
      secondary-fixed: colors.$secondary,
      tertiary-fixed: colors.$tertiary,
      surface: var(--surface),
      on-surface: var(--on-surface)
    )
  );
}

body.light-theme {
  color-scheme: light;
}

body.dark-theme {
  color-scheme: dark;
}
