<div class="table-container grid-mode">
	<div class="d-flex flex-row flex-nowrap gap-2 justify-content-between align-items-center mb-2">
		<h3 class="d-flex align-items-center gap-2" data-testid="table-title">
			<span class="highlighted-icon">
				@if (svgIcon()) {
					<mat-icon [svgIcon]="svgIcon()!" />
				} @else {
					<mat-icon data-testid="table-header-icon">{{ matIcon() }}</mat-icon>
				}
			</span>
			{{ title() }}
		</h3>
		@if (!hideAddButton()) {
			<ex-button data-testid="add-btn" iconButton matIcon="add" color="accent" (click)="addClicked.emit()" />
		}
	</div>
	@if (!isEmpty()) {
		<div class="overflow-x-hidden px-2 pt-2 flex-grow-1 table-container">
			@if (display.isMd()) {
				<div class="table-header-row" [style.grid-template-columns]="gridTemplateColumns()">
					@for (col of columns(); track col.key) {
						<div class="table-header-cell text-truncate">{{ col.header | translate }}</div>
					}
				</div>
			}
			<cdk-virtual-scroll-viewport #viewport [itemSize]="ITEM_SIZE" class="virtual-scroll-viewport">
				<div
					*cdkVirtualFor="let row of resolvedContent(); trackBy: trackById; let i = index"
					data-testid="data-row"
					class="table-row"
					[class.non-expandable]="nonExpandable() || !expandTemplate()"
					[class.expanded]="isExpanded(row)"
					[class.even]="i % 2 === 0"
					(click)="toggleExpand(row)"
				>
					@let expanded = isExpanded(row);
					<div class="table-row-cells" [style.grid-template-columns]="gridTemplateColumns()">
						@for (col of columns(); track col.key) {
							@if (col.key === 'actions') {
								<div class="table-row-item d-flex align-items-center justify-content-end pe-2">
									@if (actions().length) {
										@if (inlineActions()) {
											@for (action of actions(); track action.label) {
												<ex-button
													data-testid="inline-action-btn"
													iconButton
													stopPropagation
													[matIcon]="action.icon"
													[customColor]="action.color"
													[matTooltip]="action.label | translate"
													(click)="action.handler(row)"
													[disabled]="action.disabled ? action.disabled(row) : false"
													[color]="action.icon === 'delete' ? 'error' : 'primary'"
												/>
											}
										} @else {
											<div
												[matTooltip]="'dataTable.actions' | translate"
												[class.hidden]="!expanded"
												class="d-flex align-items-center justify-content-center"
											>
												<ex-button
													data-testid="menu-trigger-btn"
													iconButton
													stopPropagation
													[matMenuTriggerFor]="actionsMenu"
													matIcon="more_vert"
													color="secondary"
												/>
												<mat-menu #actionsMenu>
													@for (action of actions(); track action.label) {
														<button
															mat-menu-item
															[attr.data-testid]="
																'row-action-' + (action.label | translate | lowercase)
															"
															(click)="action.handler(row)"
															[disabled]="action.disabled ? action.disabled(row) : false"
														>
															<mat-icon [style.color]="action.color ?? ''">{{
																action.icon
															}}</mat-icon>
															<span [style.color]="action.color ?? ''">{{
																action.label | translate
															}}</span>
														</button>
													}
												</mat-menu>
											</div>
										}
									}
									@if (expandTemplate() && !nonExpandable()) {
										@if (expanded) {
											<div
												[matTooltip]="'dataTable.details.hide' | translate"
												class="d-flex align-items-center justify-content-center"
											>
												<mat-icon>expand_less</mat-icon>
											</div>
										} @else {
											<div
												[matTooltip]="'dataTable.details.show' | translate"
												class="d-flex align-items-center justify-content-center"
											>
												<mat-icon>expand_more</mat-icon>
											</div>
										}
									}
								</div>
							} @else {
								<div class="table-row-item">
									<ng-container
										[ngTemplateOutlet]="getCellTemplate(col.key)"
										[ngTemplateOutletContext]="{ $implicit: row }"
									/>
								</div>
							}
						}
					</div>
					@if (expandTemplate() && !nonExpandable()) {
						<div class="detail-row-item">
							<div class="detail-container" [@expandAnimation]="expanded ? 'expanded' : 'collapsed'">
								<ng-container
									[ngTemplateOutlet]="expandTemplate()!"
									[ngTemplateOutletContext]="{ $implicit: row }"
								/>
							</div>
						</div>
					}
				</div>
			</cdk-virtual-scroll-viewport>
			<div data-testid="footer-row" class="table-row" [hidden]="!isLoading()">
				<ng-container [ngTemplateOutlet]="loader" />
			</div>
		</div>
	} @else {
		<ng-container [ngTemplateOutlet]="emptyTable" />
	}
</div>

<ng-template #emptyTable>
	<div class="overflow-y-auto h-100">
		<div class="d-flex flex-column align-items-center justify-content-center gap-4">
			<img data-testid="empty-state" src="assets/empty-table.svg" />
			<div class="d-flex flex-column gap-2 justify-content-center align-items-center">
				<h3 class="fs-2 fw-bold">{{ 'dataTable.empty' | translate }}</h3>
				<p class="m-0 fs-5">{{ 'dataTable.adjustFilters' | translate }}</p>
			</div>
		</div>
	</div>
</ng-template>

<ng-template #loader>
	<ex-animated-skeleton-loader
		data-testid="skeleton-loader"
		width="100%"
		height="50px"
		[style.margin-bottom]="'10px'"
	/>
	<ex-animated-skeleton-loader width="100%" height="50px" />
</ng-template>
