<div class="table-container grid-mode">
	<div class="d-flex flex-row flex-nowrap gap-2 justify-content-between align-items-center mb-2">
		<h3 class="d-flex align-items-center gap-2">
			<span class="highlighted-icon">
				@if (svgIcon()) {
					<mat-icon [svgIcon]="svgIcon()!" />
				} @else {
					<mat-icon>{{ matIcon() }}</mat-icon>
				}
			</span>
			{{ title() }}
		</h3>
		<ex-button iconButton matIcon="add" color="accent" (click)="openCreateDialog()" />
	</div>
	@if (!emptyTableData()) {
		<div
			class="overflow-y-auto overflow-x-hidden px-2 pt-2 flex-grow-1 table-container"
			#scrollContainer
			infiniteScroll
			[infiniteScrollDistance]="2"
			[infiniteScrollThrottle]="50"
			[infiniteScrollDisabled]="!!isDataLoading()"
			[scrollWindow]="false"
			(scrolled)="onScroll.emit(getNextPage())"
		>
			<div>
				@if (!emptyTransactionTable()) {
					<table mat-table [dataSource]="transactionDataSource()!" multiTemplateDataRows>
						<ng-container matColumnDef="title">
							<th mat-header-cell *matHeaderCellDef class="px-3">
								@if (display.isSm()) {
									{{ 'dataTable.title' | translate }}
								}
							</th>
							<td mat-cell *matCellDef="let row" class="text-truncate">
								<div class="table-row-item ps-0 pe-3 overflow-hidden">
									<div style="min-width: 4px" [class.recurring]="row.recurring"></div>
									<div class="text-truncate ps-3" [matTooltip]="row.title">
										{{ row.title }}
									</div>
								</div>
							</td>
						</ng-container>

						<ng-container matColumnDef="date">
							<th mat-header-cell *matHeaderCellDef>
								@if (display.isSm()) {
									{{ 'dataTable.date' | translate }}
								}
							</th>
							<td mat-cell *matCellDef="let row">
								<div class="table-row-item">
									{{ row.date | date: 'yy/MM/dd' }}
								</div>
							</td>
						</ng-container>

						<ng-container matColumnDef="amount">
							<th mat-header-cell *matHeaderCellDef class="px-3">
								@if (display.isSm()) {
									{{ 'literals.amount' | translate }}
								}
							</th>
							<td mat-cell *matCellDef="let row">
								<!-- TODO user's current locale code, custom currency pipe -->
								<div
									class="table-row-item fw-semibold amount {{
										row.type === transactionTypes.INCOME ? 'income' : 'expense'
									}}"
								>
									{{ row.amount | currency: 'Ft' : 'symbol' : '1.0-0' }}
								</div>
							</td>
						</ng-container>

						<ng-container matColumnDef="category">
							<th mat-header-cell *matHeaderCellDef>
								@if (display.isSm()) {
									{{ 'literals.category' | translate }}
								}
							</th>
							<td mat-cell *matCellDef="let row">
								<div class="table-row-item text-center" [matTooltip]="row.category.name">
									<div class="icon-container" [style.--icon-color]="row.category.color">
										<mat-icon>{{ row.category.icon }}</mat-icon>
									</div>
								</div>
							</td>
						</ng-container>

						@if (display.isMd()) {
							<ng-container matColumnDef="actions">
								<th mat-header-cell *matHeaderCellDef></th>
								<td mat-cell *matCellDef="let row">
									<div
										class="table-row-item d-flex gap-2 align-items-center justify-content-end pe-2"
									>
										@if (!nonExpandable()) {
											<div
												[matTooltip]="'dataTable.actions' | translate"
												[class.hidden]="expandedRowId !== row.id"
												class="d-flex align-items-center justify-content-center"
											>
												<button
													mat-icon-button
													[matMenuTriggerFor]="actionsMenu"
													stopPropagation
												>
													<mat-icon>more_vert</mat-icon>
												</button>

												<mat-menu #actionsMenu="matMenu">
													<!-- TODO move edit into the menu https://horanszkipatrik.atlassian.net/browse/EX-240 -->
													<!-- @if (!isRowEditing(row.id)) {
														<button
															mat-menu-item
															class="edit-button"
															(click)="editRow(row.id); $event.stopPropagation()"
														>
															<mat-icon color="primary">edit</mat-icon>
															@if (display.isMd()) {
																Edit
															}
														</button>
													} @else {
														<button
															mat-menu-item
															class="edit-button"
															(click)="
																currentlyEditedRow.set(undefined);
																$event.stopPropagation()
															"
														>
															<mat-icon color="primary">close</mat-icon>
															@if (display.isMd()) {
																Cancel
															}
														</button>
													} -->

													<button
														mat-menu-item
														class="delete-button"
														(click)="deleteRow(row)"
													>
														<mat-icon color="warn">delete</mat-icon>
														@if (display.isMd()) {
															{{ 'literals.delete' | translate }}
														}
													</button>
												</mat-menu>
											</div>
											@if (expandedRowId === row.id) {
												<div
													[matTooltip]="'dataTable.details.hide' | translate"
													class="d-flex align-items-center justify-content-center"
												>
													<mat-icon>expand_less</mat-icon>
												</div>
											} @else {
												<div
													[matTooltip]="'dataTable.details.show' | translate"
													class="d-flex align-items-center justify-content-center"
												>
													<mat-icon>expand_more</mat-icon>
												</div>
											}
										}
									</div>
								</td>
							</ng-container>
						}

						@if (!nonExpandable()) {
							<ng-container matColumnDef="expandedRow">
								<td mat-cell *matCellDef="let row" [attr.colspan]="displayedColumns.length">
									<div class="detail-row-item">
										<div
											class="detail-container"
											[@expandAnimation]="expandedRowId === row.id ? 'expanded' : 'collapsed'"
										>
											<div class="d-flex flex-column flex-md-row gap-4 p-4 w-100">
												<div class="d-flex gap-4 w-100">
													@let noteControl = $any(noteForm.controls)[row.id];
													<mat-form-field>
														<mat-label>{{ 'dataTable.note' | translate }}</mat-label>
														<textarea
															matInput
															cdkTextareaAutosize
															cdkAutosizeMinRows="4"
															[formControl]="noteControl"
														></textarea>
														<mat-error>
															<ex-validator [control]="noteControl" />
														</mat-error>
													</mat-form-field>

													<div class="d-flex flex-column justify-content-between pb-4">
														@let categoryControl = $any(categoryForm.controls)[row.id];
														<mat-form-field>
															<mat-label>{{ 'literals.category' | translate }}</mat-label>
															<mat-select [formControl]="categoryControl">
																@for (
																	category of categoryStore.categoryResource.value();
																	track category.id
																) {
																	<mat-option [value]="category.id">
																		<mat-icon [style.color]="category.color">
																			{{ category.icon }}
																		</mat-icon>
																		{{ category.name }}
																	</mat-option>
																}
															</mat-select>
															<mat-error>
																<ex-validator [control]="categoryControl" />
															</mat-error>
														</mat-form-field>

														@let recurringControl = $any(recurringForm.controls)[row.id];
														<mat-checkbox [formControl]="recurringControl">
															<span [class.nowrap]="display.isMd()">{{
																'dataTable.recurring' | translate
															}}</span>
														</mat-checkbox>
														<mat-error>
															<ex-validator [control]="recurringControl" />
														</mat-error>
													</div>
												</div>
												<div class="d-flex flex-column gap-2">
													<!-- [disabled]="saveNoteDisabled(row.id)" -->
													<ex-button
														filled
														matIcon="check"
														color="primary"
														[disabled]="false"
														(click)="saveRow(row)"
													>
														{{ 'literals.save' | translate }}
													</ex-button>
													<ex-button
														outlined
														matIcon="close"
														color="accent"
														(click)="cancelRowEdit(row.id)"
													>
														{{ 'literals.cancel' | translate }}
													</ex-button>
												</div>
											</div>
										</div>
									</div>
								</td>
							</ng-container>
						}

						<ng-container matColumnDef="loader">
							<td mat-fooder-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
								<ng-container [ngTemplateOutlet]="loader" />
							</td>
						</ng-container>

						<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
						<tr
							mat-row
							*matRowDef="let row; columns: displayedColumns"
							class="table-row"
							[class.non-expandable]="nonExpandable()"
							[class.expanded]="expandedRowId === row.id"
							(click)="toggleExpand(row)"
						></tr>
						@if (!nonExpandable()) {
							<tr
								mat-row
								*matRowDef="let row; columns: ['expandedRow']"
								class="expanded-detail-row"
								style="height: 0"
							></tr>
						}

						<tr mat-footer-row *matFooterRowDef="['loader']" [hidden]="!isDataLoading()" class="table-row">
							<ng-container [ngTemplateOutlet]="loader" />
						</tr>
					</table>
				} @else if (!emptyCategoryTable() && type() === 'category') {
					<table mat-table [dataSource]="categoryStore.categoryResource.value() ?? []" multiTemplateDataRows>
						<ng-container matColumnDef="name">
							<th mat-header-cell *matHeaderCellDef class="px-3">
								@if (display.isSm()) {
									<div class="text-start">{{ 'dataTable.name' | translate }}</div>
								}
							</th>
							<td mat-cell *matCellDef="let row" class="text-truncate">
								<div class="table-row-item ps-0 pe-3 justify-content-start">
									<div class="text-truncate ps-3">
										{{ row.name }}
									</div>
								</div>
							</td>
						</ng-container>

						<ng-container matColumnDef="icon">
							<th mat-header-cell *matHeaderCellDef>
								@if (display.isSm()) {
									<div class="text-start">{{ 'dataTable.icon' | translate }}</div>
								}
							</th>
							<td mat-cell *matCellDef="let row">
								<div class="table-row-item justify-content-start">
									<div class="icon-container" [style.--icon-color]="row.color">
										<mat-icon>{{ row.icon }}</mat-icon>
									</div>
								</div>
							</td>
						</ng-container>

						<ng-container matColumnDef="type">
							<th mat-header-cell *matHeaderCellDef>
								@if (display.isSm()) {
									<div class="text-start">{{ 'dataTable.type' | translate }}</div>
								}
							</th>
							<td mat-cell *matCellDef="let row">
								<div class="table-row-item justify-content-start">
									{{ codeForCategoryType(row.type) | translate }}
								</div>
							</td>
						</ng-container>

						<ng-container matColumnDef="actions">
							<th mat-header-cell *matHeaderCellDef></th>
							<td mat-cell *matCellDef="let row">
								<div class="table-row-item justify-content-end">
									<button
										mat-icon-button
										class="category-delete-icon"
										(click)="deleteCategoryRow(row.id)"
									>
										<mat-icon>delete</mat-icon>
									</button>
								</div>
							</td>
						</ng-container>

						<ng-container matColumnDef="loader">
							<td
								mat-fooder-cell
								*matFooterCellDef
								[attr.colspan]="displayedColumns.length"
								[hidden]="!isDataLoading()"
							>
								<ng-container [ngTemplateOutlet]="loader" />
							</td>
						</ng-container>

						<tr mat-header-row *matHeaderRowDef="displayedCategoryColumns"></tr>
						<tr
							mat-row
							*matRowDef="let row; columns: displayedCategoryColumns"
							class="table-row category-table-row"
						></tr>

						<tr
							mat-footer-row
							*matFooterRowDef="['loader']"
							[hidden]="!isDataLoading()"
							class="table-row category-table-row"
						></tr>
					</table>
				}
			</div>
		</div>
	} @else {
		<ng-container [ngTemplateOutlet]="emptyTable" />
	}
</div>

<ng-template #emptyTable>
	<div class="overflow-y-auto h-100">
		<div class="d-flex flex-column align-items-center justify-content-center gap-4">
			<img src="assets/empty-table.svg" />
			<div class="d-flex flex-column gap-2 justify-content-center align-items-center">
				<h3 class="fs-2 fw-bold">{{ 'dataTable.empty' | translate }}</h3>
				<p class="m-0 fs-5">{{ 'dataTable.adjustFilters' | translate }}</p>
			</div>
		</div>
	</div>
</ng-template>

<ng-template #loader>
	<ex-animated-skeleton-loader width="100%" height="50px" [style.margin-bottom]="'10px'" />
	<ex-animated-skeleton-loader width="100%" height="50px" />
</ng-template>
