@import '../../../styles/imports.scss';

:host {
	height: 100%;
}

.table-container {
	--mat-table-header-headline-size: 18px;
	--mat-table-row-item-label-text-size: 14px;
	--mat-table-row-item-container-height: 42px;
	--mat-table-header-headline-color: var(--default-text-color);
	--mat-table-row-item-label-text-color: var(--default-text-color);

	height: 100%;
	display: flex;
	flex-direction: column;

	max-height: 500px;

	@include card;
	@include displayLg {
		max-height: unset;
	}
}

table {
	background-color: transparent;

	th,
	tr,
	td {
		border: none;
	}

	th:not(.mat-column-title),
	td:not(.mat-column-title) {
		text-align: center;
	}

	th {
		font-weight: 600;
	}

	// hide header on small screens
	tr.mat-mdc-header-row {
		height: 0;

		@include displaySm {
			height: var(--mat-table-header-container-height);
		}
	}

	@include displayMd {
		th.mat-mdc-header-cell {
			padding: 0;
		}
		th.mat-column-title {
			width: 35%;
		}
		th.mat-column-category {
			width: 15%;
		}
	}
}

td[mat-cell].mat-mdc-cell {
	padding: 0;

	&.mat-column-title {
		max-width: 10ch;
	}

	.table-row-item {
		padding: 0 4px;

		@include displaySm {
			padding: 0;
		}
	}
}

.table-row-item {
	height: 50px;
	display: flex;
	align-items: center;

	transition-delay: 200ms;
	transition-duration: 0.1ms;
	transition-behavior: ease-in;
	transition-property: border-radius;
}

// gap between rows
tr.mat-mdc-row.expanded-detail-row,
tr.mat-mdc-row.non-expandable,
tr.mat-mdc-row.category-table-row {
	border-bottom: 10px solid transparent;
}

td {
	&:not(.mat-column-title):not(.mat-column-actions) .table-row-item {
		justify-content: center;
	}
	&:first-of-type .table-row-item {
		border-top-left-radius: 10px;
	}
	&:last-of-type .table-row-item {
		border-top-right-radius: 10px;
	}
}

tr:not(.expanded) td {
	&:first-of-type .table-row-item {
		border-bottom-left-radius: 10px;
	}
	&:last-of-type .table-row-item {
		border-bottom-right-radius: 10px;
	}
}

.detail-row-item {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

// row backgrounds
tr.table-row:nth-child(even of .table-row) {
	.table-row-item {
		background-color: var(--app-card-color);
	}
	& + tr.expanded-detail-row .detail-row-item {
		background-color: var(--app-card-color);
	}
}
tr.table-row:nth-child(odd of .table-row) {
	.table-row-item {
		background-color: var(--app-background-color);
	}
	& + tr.expanded-detail-row .detail-row-item {
		background-color: var(--app-background-color);
	}
}
// expanded row color
tr.mat-mdc-row.table-row.expanded .table-row-item {
	transition-delay: 0ms;

	background-color: darken(var(--default-text-color), 5%);
	&:not(.amount) {
		color: var(--secondary-text-color);
	}
}

tr.table-row,
tr.expanded-detail-row {
	filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
}

// hide overflowing shadow on extended row
tr.expanded + tr {
	clip-path: inset(1px 0 0 0);

	.detail-container {
		padding: 0.5rem 0;
	}
}

td.mat-column-actions mat-icon {
	cursor: pointer;
}

.recurring {
	height: 100%;
	overflow: hidden;
	background-color: var(--primary-color);
}

.detail-container {
	display: flex;

	mat-label {
		font-size: 14px;
		font-weight: 500;
	}

	p {
		font-size: 12px;
		font-weight: 400;
	}
}

.details {
	background-color: transparent;
	border: none;
	outline: 1px solid lighten(var(--primary-color), 40%);
	padding: 0.5rem;
	border-radius: 10px;
	resize: none;

	&:focus-visible {
		outline: 2px solid var(--primary-color);
	}
}

.hidden {
	opacity: 0;
	pointer-events: none;
}

button {
	--mat-icon-button-icon-color: var(--secondary-color);
	--mat-menu-item-label-text-weight: 700;

	&.edit-button {
		color: var(--accent-color);
		mat-icon {
			--mat-icon-color: var(--accent-color);
		}
	}

	&.delete-button {
		color: var(--error-color);
		font-weight: bold;
		mat-icon {
			--mat-icon-color: var(--error-color);
		}
	}
}

.nowrap {
	white-space: nowrap;
}

.category-delete-icon {
	--mat-icon-color: var(--error-color);
}
