<div class="table-container grid-mode">
	<div class="d-flex flex-row flex-nowrap gap-2 justify-content-between align-items-center mb-2">
		<h3 class="d-flex align-items-center gap-2" data-testid="table-title">
			<span class="highlighted-icon">
				@if (svgIcon()) {
					<mat-icon [svgIcon]="svgIcon()!" />
				} @else {
					<mat-icon data-testid="table-header-icon">{{ matIcon() }}</mat-icon>
				}
			</span>
			{{ title() }}
		</h3>
		<ex-button data-testid="add-btn" iconButton matIcon="add" color="accent" (click)="addClicked.emit()" />
	</div>
	@if (!isEmpty()) {
		<div
			class="overflow-y-auto overflow-x-hidden px-2 pt-2 flex-grow-1 table-container"
			#scrollContainer
			infiniteScroll
			[infiniteScrollDistance]="2"
			[infiniteScrollThrottle]="50"
			[infiniteScrollDisabled]="isLoading()"
			[scrollWindow]="false"
			(scrolled)="scrolled.emit()"
		>
			<div>
				<table mat-table [dataSource]="dataSource()" multiTemplateDataRows>
					@for (col of columns(); track col.key) {
						<ng-container [matColumnDef]="col.key">
							<th mat-header-cell *matHeaderCellDef [style.width]="col.width">
								@if (display.isSm()) {
									{{ col.header | translate }}
								}
							</th>
							<td mat-cell *matCellDef="let row">
								@if (col.key === 'actions') {
									<div
										class="table-row-item d-flex gap-2 align-items-center justify-content-end pe-2"
									>
										@if (actions().length) {
											@if (inlineActions()) {
												@for (action of actions(); track action.label) {
													<ex-button
														data-testid="inline-action-btn"
														iconButton
														stopPropagation
														[matIcon]="action.icon"
														[customColor]="action.color"
														[matTooltip]="action.label | translate"
														(click)="action.handler(row)"
														[disabled]="action.disabled ? action.disabled(row) : false"
														[color]="action.icon === 'delete' ? 'error' : 'primary'"
													/>
												}
											} @else {
												<div
													[matTooltip]="'dataTable.actions' | translate"
													[class.hidden]="expandedRowId() !== row.id"
													class="d-flex align-items-center justify-content-center"
												>
													<ex-button
														data-testid="menu-trigger-btn"
														iconButton
														stopPropagation
														[matMenuTriggerFor]="actionsMenu"
														matIcon="more_vert"
														color="secondary"
													/>
													<mat-menu #actionsMenu>
														@for (action of actions(); track action.label) {
															<button
																mat-menu-item
																(click)="action.handler(row)"
																[disabled]="
																	action.disabled ? action.disabled(row) : false
																"
															>
																<mat-icon [style.color]="action.color ?? ''">{{
																	action.icon
																}}</mat-icon>
																<span [style.color]="action.color ?? ''">{{
																	action.label | translate
																}}</span>
															</button>
														}
													</mat-menu>
												</div>
											}
										}
										@if (expandTemplate() && !nonExpandable()) {
											@if (expandedRowId() === row.id) {
												<div
													[matTooltip]="'dataTable.details.hide' | translate"
													class="d-flex align-items-center justify-content-center"
												>
													<mat-icon>expand_less</mat-icon>
												</div>
											} @else {
												<div
													[matTooltip]="'dataTable.details.show' | translate"
													class="d-flex align-items-center justify-content-center"
												>
													<mat-icon>expand_more</mat-icon>
												</div>
											}
										}
									</div>
								} @else {
									<div class="table-row-item">
										<ng-container
											[ngTemplateOutlet]="getCellTemplate(col.key)"
											[ngTemplateOutletContext]="{ $implicit: row }"
										/>
									</div>
								}
							</td>
						</ng-container>
					}

					<ng-container matColumnDef="expand">
						<td mat-cell *matCellDef="let row" [attr.colspan]="displayedColumns().length">
							<div class="detail-row-item">
								<div
									class="detail-container"
									[@expandAnimation]="expandedRowId() === row.id ? 'expanded' : 'collapsed'"
								>
									<ng-container
										[ngTemplateOutlet]="expandTemplate() ?? null"
										[ngTemplateOutletContext]="{ $implicit: row }"
									/>
								</div>
							</div>
						</td>
					</ng-container>

					<ng-container matColumnDef="loader">
						<td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns().length">
							<ng-container [ngTemplateOutlet]="loader" />
						</td>
					</ng-container>

					<tr mat-header-row *matHeaderRowDef="displayedColumns()"></tr>
					<tr
						mat-row
						data-testid="data-row"
						*matRowDef="let row; columns: displayedColumns()"
						class="table-row"
						[class.non-expandable]="nonExpandable() || !expandTemplate()"
						[class.expanded]="expandedRowId() === row.id"
						(click)="toggleExpand(row)"
					></tr>
					<tr
						mat-row
						*matRowDef="let row; columns: ['expand']"
						class="expanded-detail-row"
						style="height: 0"
					></tr>
					<tr
						mat-footer-row
						*matFooterRowDef="['loader']"
						data-testid="footer-row"
						[hidden]="!isLoading()"
						class="table-row"
					></tr>
				</table>
			</div>
		</div>
	} @else {
		<ng-container [ngTemplateOutlet]="emptyTable" />
	}
</div>

<ng-template #emptyTable>
	<div class="overflow-y-auto h-100">
		<div class="d-flex flex-column align-items-center justify-content-center gap-4">
			<img data-testid="empty-state" src="assets/empty-table.svg" />
			<div class="d-flex flex-column gap-2 justify-content-center align-items-center">
				<h3 class="fs-2 fw-bold">{{ 'dataTable.empty' | translate }}</h3>
				<p class="m-0 fs-5">{{ 'dataTable.adjustFilters' | translate }}</p>
			</div>
		</div>
	</div>
</ng-template>

<ng-template #loader>
	<ex-animated-skeleton-loader
		data-testid="skeleton-loader"
		width="100%"
		height="50px"
		[style.margin-bottom]="'10px'"
	/>
	<ex-animated-skeleton-loader width="100%" height="50px" />
</ng-template>
