@if (isLoading() && !data()) {
	<div class="d-flex flex-row flex-nowrap gap-3 align-items-center justify-content-center">
		<ex-animated-skeleton-loader shape="circle" height="5rem" width="5rem" />
		<div class="d-flex flex-column gap-0 justify-content-center align-items-start">
			<ex-animated-skeleton-loader shape="rect" height="1rem" width="100%" />
			<ex-animated-skeleton-loader shape="rect" height="1.75rem" width="100%" />
			<ex-animated-skeleton-loader shape="rect" height="1rem" width="100%" />
		</div>
	</div>
} @else {
	@let cardInfo = data()!;
	<mat-card class="d-flex flex-column justify-content-center gap-3 p-4 position-relative h-100">
		<!-- TODO put info onto the DTO -->
		<!-- <ex-info-button [tooltip]="data().info" /> -->

		@if (isMetric()) {
			<div class="d-flex flex-column gap-0 align-items-center">
				<div class="fs-4 fw-bold">{{ widget().title }}</div>
				<div class="fs-2 fw-bold">
					<!-- TODO might need to put a valueType onto the DTO -->
					@if (cardInfo.value > 100) {
						{{ cardInfo.value | currency: 'Ft' : 'symbol' : '1.0-0' }}
					} @else {
						{{ cardInfo.value }}%
					}
				</div>
				<div class="fs-6 fw-lighter">{{ cardInfo.contextLabel }}</div>
			</div>

			<div class="trend" [attr.trend]="cardInfo.trend">
				@if (cardInfo.changePercentage !== 0) {
					<span class="mt-1">{{ assets().prefix + cardInfo.changePercentage }}</span>
				}
				<mat-icon size="sm">{{ assets().suffix }}</mat-icon>
			</div>
		} @else {
			<div class="d-flex flex-row flex-nowrap gap-3 align-items-center justify-content-center">
				<div ex-card-icon [style.--icon-color]="cardInfo.iconColor">
					<mat-icon size="xl">{{ cardInfo.icon }}</mat-icon>
				</div>
				<div class="d-flex flex-column gap-0 justify-content-center align-items-start">
					<div class="fw-bolder fs-6">{{ widget().title }}</div>
					<div class="fw-bold fs-3">{{ cardInfo.value | currency: 'Ft' : 'symbol' : '1.0-0' }}</div>
					<div class="fw-lighter fs-6">"{{ cardInfo.contextLabel }}"</div>
				</div>
			</div>
		}
	</mat-card>
}
