@import '../../../../styles/imports.scss';

mat-card.mat-mdc-card {
	flex-direction: row;
	align-items: center;
	justify-content: start;
	gap: 1rem;

	height: auto;
	width: 100%;
	padding: 0.5rem 1.2rem 0.5rem 0.5rem;

	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
	transition: background 0.3s ease-in-out;

	cursor: pointer;

	&:hover {
		background-color: lighten(var(--mat-card-elevated-container-color), 5%);
	}
}

.icon-container {
	width: 4.5rem;
	height: 4.5rem;
	background-color: var(--background);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.amount {
	white-space: nowrap;
}
