<!-- TODO navigate with filter on click -->
<mat-card class="flex-row flex-nowrap align-items-center">
	<mat-card-header class="p-0">
		<div ex-card-icon>
			@if (svgIcon()) {
				<mat-icon
					size="xl"
					[svgIcon]="svgIcon()!"
				/>
			} @else {
				<mat-icon size="xl">{{ matIcon() }}</mat-icon>
			}
		</div>
	</mat-card-header>
	<mat-card-content class="p-0">
		<div class="d-flex flex-column justify-content-center fs-5">
			<div class="fw-semibold">{{ title() }}</div>
			<div
				class="fw-bold amount"
				[class]="{
					expense: value() < 0 || type() === transactionTypes.EXPENSE,
					income: value() > 0 || type() === transactionTypes.INCOME
				}"
			>
				@if (value() !== 0) {
					{{ value() > 0 || type() === transactionTypes.INCOME ? '+' : '-' }}
				}
				{{ value() | currency: 'Ft' : 'symbol' : '1.0-0' }}
			</div>
		</div>
	</mat-card-content>
</mat-card>
