<div class="dashboard-container" [class.loading]="isLoading">
  <div class="title-toggle-row">
    <div class="title-toggle-row--welcome">
      <h1>
        Welcome back, <span>{{ user?.username }}!</span>
      </h1>
      <p>Here's this month's finances:</p>
    </div>
    <div class="title-toggle-row--toggle">
      <app-view-toggle></app-view-toggle>
    </div>
  </div>

  <div class="grid-container">
    <div class="first-row">
      <app-chart class="chart-panel" [transactions]="transactions"></app-chart>
      <app-categories
        class="categories-panel"
        [expenses]="expenses"
        [categories]="categories"
      ></app-categories>
    </div>

    <!-- Summary panels -->
    <div class="summary-container">
      <app-summary-container
        icon="attach_money"
        label="Income"
        [value]="totalIncome"
      ></app-summary-container>
      <app-summary-container
        icon="money_off"
        label="Expenses"
        [value]="totalExpenses"
      ></app-summary-container>
      <app-summary-container
        icon="savings"
        label="Balance"
        [value]="balance"
      ></app-summary-container>
      <app-summary-container
        icon="receipt_long"
        [label]="highestSpendingCategory.name"
        [value]="highestSpendingCategory.amount"
      ></app-summary-container>
    </div>

    <!-- Detailed panels -->
    <app-data-table
      formType="expense"
      class="list expenses"
      icon="money_off"
      label="Expenses"
      [transactions]="expenses"
      [categories]="categories"
      (transactionAdded)="onTransactionAdded()"
    >
    </app-data-table>
    <app-data-table
      formType="income"
      class="list incomes"
      icon="attach_money"
      label="Incomes"
      [transactions]="incomes"
      [categories]="categories"
      (transactionAdded)="onTransactionAdded()"
    >
    </app-data-table>
  </div>
</div>
