<div class="dashboard-container" [class.loading]="isLoading">
  <div class="title-toggle-row">
    <div class="title-toggle-row--welcome">
      <h1>Welcome back, <span>Patrik!</span></h1>
      <p>Here's this month's finances:</p>
    </div>
    <div class="title-toggle-row--toggle">
      <app-view-toggle></app-view-toggle>
    </div>
  </div>

  <div class="grid-container">
    <div class="first-row">
      <app-chart class="chart-panel" [transactions]="transactions"></app-chart>
      <app-categories
        class="categories-panel"
        [transactions]="transactions"
      ></app-categories>
    </div>

    <!-- Summary panels -->
    <div class="summary-container">
      <app-summary-container
        icon="attach_money"
        label="Income"
        [value]="49500"
      ></app-summary-container>
      <app-summary-container
        icon="money_off"
        label="Expenses"
        [value]="-44530"
      ></app-summary-container>
      <app-summary-container
        icon="savings"
        label="Balance"
        [value]="456400"
      ></app-summary-container>
      <app-summary-container
        icon="receipt_long"
        label="Utilities"
        [value]="-43670"
      ></app-summary-container>
    </div>

    <!-- Detailed panels -->
    <!-- <app-data-table icon="savings" label="Expenses" [dataSource]="expenses"> -->
    <app-data-table
      formType="expense"
      class="list expenses"
      icon="money_off"
      label="Expenses"
    >
    </app-data-table>
    <app-data-table
      formType="income"
      class="list incomes"
      icon="attach_money"
      label="Incomes"
    >
    </app-data-table>
  </div>
</div>
