<section
	class="d-flex flex-column h-100 justif-content-between p-2 pb-0 p-sm-3 p-md-4 gap-2"
	[class.overflow-hidden]="display.isMd()"
>
	<div
		class="d-flex flex-column flex-md-row justify-content-center justify-content-md-between align-items-center gap-2"
	>
		<h2 class="m-0 text-center text-md-start {{ display.isSm() ? 'fs-1' : 'fs-2' }}">
			@if (selectedIndex === 0) {
				Transactions
			} @else {
				Categories
			}
		</h2>
		<mat-tab-group
			animationDuration="0ms"
			mat-stretch-tabs="false"
			[(selectedIndex)]="selectedIndex"
			dynamicHeight="false"
		>
			<mat-tab>
				<ng-template mat-tab-label>
					<div class="d-flex flex-row flex-nowrap align-items-center gap-2">
						<mat-icon size="md">payments</mat-icon>
						@if (display.isMd()) {
							Transactions
						}
					</div>
				</ng-template>
			</mat-tab>
			<mat-tab>
				<ng-template mat-tab-label>
					<div class="d-flex flex-row flex-nowrap align-items-center gap-2">
						<mat-icon size="md">cached</mat-icon>
						@if (display.isMd()) {
							Categories
						}
					</div>
				</ng-template>
			</mat-tab>
		</mat-tab-group>
	</div>
	@if (selectedIndex === 0) {
		<ng-container [ngTemplateOutlet]="transactionsTab" />
	} @else if (selectedIndex === 1) {
		<ng-container [ngTemplateOutlet]="categoriesTab" />
	}
</section>

<ng-template #transactionsTab>
	<div
		class="d-flex flex-column justify-content-between gap-4 h-100"
		[class.overflow-hidden]="display.isMd()"
	>
		<div class="d-flex flex-row gap-4 smaller-row">
			@if (display.isLg()) {
				<ex-data-table
					[data]="{ transactions, categories }"
					matIcon="money_off"
					class="flex-grow-1"
					nonExpandable
					paginationDisabled
					title="Recurring Incomes"
					[type]="transactionTypes.INCOME"
					(dataChangedEvent)="onDataChanged()"
				/>
				<ex-data-table
					[data]="{ transactions, categories }"
					matIcon="money_off"
					class="flex-grow-1"
					nonExpandable
					paginationDisabled
					title="Recurring Expenses"
					[type]="transactionTypes.EXPENSE"
					(dataChangedEvent)="onDataChanged()"
				/>
			} @else {
				<ex-data-table
					[data]="{ transactions, categories }"
					matIcon="money_off"
					class="flex-grow-1"
					nonExpandable
					paginationDisabled
					title="Recurrings"
					(dataChangedEvent)="onDataChanged()"
				/>
			}
		</div>

		<div
			class="d-flex flex-column h-100 gap-2 bigger-row"
			[class.overflow-hidden]="display.isMd()"
		>
			<div class="d-flex flex-row flex-nowrap justif-content-between">
				<div [matTooltip]="!canCreateTransaction ? 'First create a category!' : ''">
					<ex-button
						filled
						matIcon="add"
						collapsedStyle="filled"
						collapseUnder="sm"
						[disabled]="!canCreateTransaction"
						(click)="openCreateTransactionDialog()"
					>
						Add transaction
					</ex-button>
				</div>
			</div>
			<ex-data-table
				[data]="{ transactions, categories }"
				matIcon="payments"
				[class.overflow-hidden]="display.isMd()"
				title="Transactions"
				(dataChangedEvent)="onDataChanged()"
			/>
		</div>
	</div>
</ng-template>

<ng-template #categoriesTab>
	<div
		class="d-flex flex-column justify-content-between gap-4 h-100 mt-4"
		[class.overflow-hidden]="display.isMd()"
	>
		<div class="d-flex flex-row flex-norwap gap-2 align-items-center">
			<ex-button
				filled
				matIcon="add"
				collapsedStyle="filled"
				collapseUnder="sm"
				class="justify-self-end"
				(click)="openCreateCategoryDialog()"
			>
				Add category
			</ex-button>
		</div>

		<ex-data-table
			matIcon="category"
			[data]="{ categories }"
			title="Categories"
			type="category"
			(dataChangedEvent)="onDataChanged()"
			paginationDisabled
		/>
	</div>
</ng-template>
