<section data-testid="chart-widget-list">
	<gridster [options]="options()" class="custom-grid mw-100">
		@for (widget of data(); track widget.id) {
			<gridster-item data-testid="chart-widget-item" [item]="widget">
				@if (editing()) {
					@if (display.isMd()) {
						<ex-button
							data-testid="chart-widget-dragger"
							matIcon="drag_indicator"
							iconButton
							class="dragger"
						/>
					}
					<div class="d-flex flex-column gap-2 position-absolute chart-modification-buttons">
						<ex-button
							data-testid="chart-widget-delete-btn"
							matIcon="delete"
							(click)="deleteWidget(widget)"
							primaryIconButton
							color="error"
						/>
						<ex-button
							data-testid="chart-widget-edit-btn"
							matIcon="edit"
							(click)="openEditWidgetDialog(widget)"
							primaryIconButton
						/>
					</div>
				}
				@defer (on viewport) {
					<ex-chart-widget [widget]="widget" [editing]="editing()" />
				} @placeholder {
					<div class="h-100 w-100 d-flex justify-content-center align-items-center">
						<div class="d-flex flex-row flex-nowrap gap-2 align-items-end justify-content-center">
							<ex-animated-skeleton-loader shape="rect" width="50px" height="155px" />
							<ex-animated-skeleton-loader shape="rect" width="50px" height="195px" />
							<ex-animated-skeleton-loader shape="rect" width="50px" height="250px" />
							<ex-animated-skeleton-loader shape="rect" width="50px" height="170px" />
							<ex-animated-skeleton-loader shape="rect" width="50px" height="120px" />
						</div>
					</div>
				}
			</gridster-item>
		}
	</gridster>
</section>
