<!-- @if (this.currency() && this.showBaseCurrency() !== undefined) { -->
@if (this.currency()) {
	<article class="d-flex flex-column gap-3">
		<h3 class="m-0 text-start fs-2 w-75 mb-2">{{ 'profile.userSettings.currency.title' | translate }}</h3>
		<div class="d-flex flex-column flex-md-row flex-nowrap gap-4">
			<mat-form-field subscriptSizing="dynamic" class="flex-grow-1">
				<mat-label>{{ 'profile.userSettings.currency.baseCurrency.label' | translate }}</mat-label>
				<mat-select [formControl]="form.controls.baseCurrency">
					@for (currency of currencies | enumValue; track currency) {
						<mat-option [value]="currency"> {{ currency }} - {{ localizeCurrency(currency) }} </mat-option>
					}
				</mat-select>
				<mat-error>
					<ex-validator [control]="form.controls.baseCurrency" />
				</mat-error>
			</mat-form-field>

			<div class="d-flex flex-row flex-nowrap gap-2 align-items-center flex-grow-1">
				<mat-checkbox [formControl]="form.controls.showBaseCurrency">
					<span [class.text-nowrap]="display.isMd()">{{
						'profile.userSettings.currency.showBaseCurrency.label' | translate
					}}</span>
				</mat-checkbox>
				<ex-info-button block [tooltip]="'profile.userSettings.currency.showBaseCurrency.info' | translate" />
			</div>
		</div>
	</article>
} @else {
	<div class="d-flex flex-column gap-3">
		<ex-animated-skeleton-loader width="40%" height="35px" />
		<div class="d-flex flex-column flex-md-row flex-nowrap gap-4">
			<ex-animated-skeleton-loader width="50%" height="50px" />
			<div class="d-flex flex-row flex-nowrap gap-2 align-items-center">
				<ex-animated-skeleton-loader width="35px" height="35px" />
				<ex-animated-skeleton-loader width="150px" height="25px" />
			</div>
		</div>
	</div>
}
