<h3 class="m-0 text-start fs-2 mb-3">{{ 'profile.userSettings.language.title' | translate }}</h3>

<div class="language-list">
	@for (lang of langs; track lang) {
		<dl
			class="language-card d-flex flex-column justify-content-center align-items-center py-4"
			[class.selected]="selectedLang() === lang"
			(click)="selectLang(lang)"
		>
			<dt class="fs-4 fw-bold">{{ lang | uppercase }}</dt>
			<dd class="fs-6 fw-normal">{{ getLanguage(lang) }}</dd>
			<mat-icon size="md" class="selected-icon">check_circle</mat-icon>
		</dl>
	}
</div>
