<ex-data-table
	[columns]="columns()"
	[actions]="actions"
	[data]="data()"
	[isLoading]="isLoading()"
	[title]="title()"
	[matIcon]="matIcon()"
	nonExpandable
	inlineActions
	(addClicked)="openCreate()"
>
	<ng-template exCell="title" let-row>
		<div class="text-truncate ps-3 w-100 text-start">{{ row.name }}</div>
	</ng-template>

	<ng-template exCell="icon" let-row>
		<div class="icon-container" [style.--icon-color]="row.color">
			<mat-icon>{{ row.icon }}</mat-icon>
		</div>
	</ng-template>

	<ng-template exCell="type" let-row>
		<div class="text-truncate w-100 text-center">{{ codeForCategoryType(row.type) | translate }}</div>
	</ng-template>

	<ng-template exCell="note" let-row>
		<div class="text-truncate w-100 text-center" [matTooltip]="row.note" [matTooltipDisabled]="!row.note.length">
			@if (row.note.length) {
				{{ row.note }}
			} @else {
				&mdash;
			}
		</div>
	</ng-template>

	<ng-template exCell="amount" let-row>
		<span
			class="fw-semibold"
			[class.income]="amountClass(row) === 'income'"
			[class.expense]="amountClass(row) === 'expense'"
		>
			{{ row.balance | currency }}
		</span>
	</ng-template>
</ex-data-table>
