<ex-dialog-card data-testid="create-debt-dialog" [formGroup]="form" (submit)="create()" [confirmExitDialog]="dialogRef">
	<div ex-dialog-card-title>{{ 'debts.create.title' | translate }}</div>

	<form ex-dialog-card-content class="d-flex flex-column gap-3 py-2">
		@let titleControl = form.controls.title;
		<mat-form-field>
			<mat-label>{{ 'debts.create.titleLabel' | translate }}</mat-label>
			<input data-testid="debt-title-input" matInput autoTrim [formControl]="titleControl" />
			<ex-input-clear matSuffix [control]="titleControl" />
			<mat-error>
				<ex-validator [control]="titleControl" />
			</mat-error>
		</mat-form-field>

		@let counterpartyControl = form.controls.counterpartyName;
		<mat-form-field>
			<mat-label>{{ 'debts.create.counterpartyName' | translate }}</mat-label>
			<input data-testid="debt-counterparty-input" matInput autoTrim [formControl]="counterpartyControl" />
			<ex-input-clear matSuffix [control]="counterpartyControl" />
			<mat-error>
				<ex-validator [control]="counterpartyControl" />
			</mat-error>
		</mat-form-field>

		<div class="d-flex flex-column flex-sm-row align-items-sm-start gap-3">
			<ex-amount-stepper
				data-testid="debt-original-amount-stepper"
				class="mb-3"
				[control]="form.controls.originalAmount"
				[label]="'debts.create.originalAmount'"
				[min]="1"
				[step]="amountStep()"
			/>

			@let currencyControl = form.controls.currency;
			<mat-form-field>
				<mat-label>{{ 'debts.create.currency' | translate }}</mat-label>
				<mat-select data-testid="debt-currency-select" [formControl]="currencyControl">
					@for (currency of currencies | enumValue; track currency) {
						<mat-option [value]="currency">{{ currency }} - {{ localizeCurrency(currency) }}</mat-option>
					}
				</mat-select>
				<mat-error>
					<ex-validator [control]="currencyControl" />
				</mat-error>
			</mat-form-field>
		</div>

		<div class="d-flex flex-column flex-sm-row gap-3">
			@let typeControl = form.controls.type;
			<mat-form-field>
				<mat-label>{{ 'debts.create.type' | translate }}</mat-label>
				<mat-select data-testid="debt-type-select" [formControl]="typeControl">
					@for (type of debtTypes | enumValue; track type) {
						<mat-option [value]="type">{{ codeForType(type) | translate }}</mat-option>
					}
				</mat-select>
				<mat-error>
					<ex-validator [control]="typeControl" />
				</mat-error>
			</mat-form-field>

			@let deadlineControl = form.controls.deadline;
			<mat-form-field>
				<mat-label>{{ 'debts.create.deadline' | translate }}</mat-label>
				<input data-testid="debt-deadline-input" matInput [matDatepicker]="deadlinePicker" [formControl]="deadlineControl" />
				<mat-datepicker-toggle matIconSuffix [for]="deadlinePicker" />
				<mat-datepicker #deadlinePicker />
				<mat-error>
					<ex-validator [control]="deadlineControl" />
				</mat-error>
			</mat-form-field>
		</div>

		@let categoryControl = form.controls.category.controls;
		<mat-form-field>
			<mat-label>{{ 'debts.create.category' | translate }}</mat-label>
			<mat-select
				data-testid="debt-category-select"
				selectAutoFocus
				[focusedInput]="searchCategoryInput"
				[formControl]="categoryControl.category"
				(closed)="categoryControl.searchText.reset()"
			>
				<mat-form-field subscriptSizing="dynamic" class="search-with-select">
					<mat-label>{{ 'debts.create.search' | translate }}</mat-label>
					<input autoTrim matInput [formControl]="categoryControl.searchText" #searchCategoryInput />
					<ex-input-clear [control]="categoryControl.searchText" />
					<mat-error>
						<ex-validator [control]="categoryControl.searchText" />
					</mat-error>
				</mat-form-field>
				@for (category of filteredCategories(); track category.id) {
					<mat-option [value]="category">
						<mat-icon [style.color]="category.color">{{ category.icon }}</mat-icon>
						{{ category.name }}
					</mat-option>
				}
			</mat-select>
			<mat-error>
				<ex-validator [control]="categoryControl.category" />
			</mat-error>
		</mat-form-field>

		<ex-button class="d-none" type="submit" />
	</form>

	<div
		ex-dialog-card-actions
		class="d-flex flex-column-reverse flex-sm-row justify-content-end align-items-center gap-2 w-100"
	>
		<ex-button data-testid="debt-cancel-btn" outline color="accent" matIcon="close" type="button" mat-dialog-close>
			{{ 'literals.cancel' | translate }}
		</ex-button>
		<ex-button data-testid="debt-create-btn" filled color="primary" matIcon="add" [disabled]="form.invalid" (click)="create()">
			{{ 'literals.create' | translate }}
		</ex-button>
	</div>
</ex-dialog-card>
