mat-sidenav-container {
  display: flex;
  height: 100vh;
}

mat-sidenav {
  width: auto;
  height: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
}

mat-sidenav-content {
  // margin: 250px !important; // sidebar width + margin
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--background);
  overflow: auto;
}

mat-nav-list {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0;
  flex-grow: 1;
}

mat-nav-list a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 2rem;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

mat-icon {
  margin-right: 1rem;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  transition: color 0.3s ease;
}
mat-nav-list a span {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  flex-grow: 1;
  transition: all 0.3s ease;
}

.bottom-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: auto;
}

.bottom-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.bottom-icons mat-icon {
  min-width: 24px;
}

.exence-logo {
  max-width: 100%;
  height: var(--size-xxl);
  margin-bottom: var(--size-xxl);
  margin-top: var(--size-md);
}

.sidebar-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: var(--size-lg);
}

mat-nav-list .active-link {
  background-color: var(--mat-sys-primary-fixed);
}
mat-nav-list a.active-link span {
  color: var(--on-primary-fixed);
  font-weight: bold;
}

mat-nav-list a.active-link mat-icon {
  color: var(--on-primary-fixed);
}
