:host {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	gap: 1.5rem;

	scrollbar-gutter: stable;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;

	width: 100%;
	overflow-x: auto;
}
