@import '../../../styles/imports.scss';

.more-actions-button {
	background-color: unset;
	border: none;
	color: var(--default-text);
}

.mobile-navigation {
	background-color: var(--app-background-color);
}

.mobile-actions {
	padding: 0.5rem;
	border-radius: 20px;
	background-color: var(--app-card-color);
}

.mobile-view {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.actions-menu,
.actions {
	mat-icon {
		color: var(--accent-text-color);
	}
}
