@if (display.isMd()) {
	<mat-drawer-container class="h-100">
		<mat-drawer mode="side" class="px-2" opened disableClose>
			<div class="d-flex flex-column align-items-center h-100 py-4 gap-5">
				<a class="px-xl-2" [routerLink]="navigationService.private().index()">
					@if (display.isXl()) {
						<mat-icon class="h-auto w-auto m-0" [svgIcon]="svgIcons.logoHorizontal" />
					} @else {
						<mat-icon class="m-0" [svgIcon]="svgIcons.logo" />
					}
				</a>
				<div class="d-flex flex-column w-100 h-100 fs-4 gap-3 gap-xl-2 flex-grow-1 fw-medium">
					<a
						class="ex-nav-button d-flex align-items-center gap-2"
						[routerLink]="navigationService.private().dashboard()"
						routerLinkActive="active"
					>
						<mat-icon>home</mat-icon>
						@if (display.isXl()) {
							{{ 'navigation.dashboard' | transloco }}
						}
					</a>

					<a
						class="ex-nav-button d-flex align-items-center gap-2"
						[routerLink]="navigationService.private().transactions()"
						routerLinkActive="active"
					>
						<mat-icon>sync_alt</mat-icon>
						@if (display.isXl()) {
							{{ 'navigation.transactions' | transloco }}
						}
					</a>
					<a
						class="ex-nav-button d-flex align-items-center gap-2"
						[routerLink]="navigationService.private().statistics()"
						routerLinkActive="active"
					>
						<mat-icon>leaderboard</mat-icon>
						@if (display.isXl()) {
							{{ 'navigation.statistics' | transloco }}
						}
					</a>
					<a
						class="ex-nav-button d-flex align-items-center gap-2"
						[routerLink]="navigationService.private().goals()"
						routerLinkActive="active"
					>
						<mat-icon>emoji_events</mat-icon>
						@if (display.isXl()) {
							{{ 'navigation.goals' | transloco }}
						}
					</a>
					<a
						class="ex-nav-button d-flex align-items-center gap-2"
						[routerLink]="navigationService.private().debts()"
						routerLinkActive="active"
					>
						<mat-icon>account_balance</mat-icon>
						@if (display.isXl()) {
							{{ 'navigation.debts' | transloco }}
						}
					</a>
				</div>
				@if (display.isXl()) {
					<div class="d-flex gap-4 actions">
						<ex-button
							iconButton
							matIcon="person"
							color="accent"
							[routerLink]="navigationService.private().profile().index()"
						/>
						<ex-button
							iconButton
							matIcon="settings"
							color="accent"
							[routerLink]="navigationService.private().settings()"
						/>
						<ex-button iconButton matIcon="contrast" color="accent" (click)="toggleTheme()" />
						<ex-button iconButton matIcon="logout" color="accent" (click)="logout()" />
					</div>
				} @else {
					<ng-container [ngTemplateOutlet]="actionsMenu" />
				}
			</div>
		</mat-drawer>
		<mat-drawer-content>
			<ng-container [ngTemplateOutlet]="pageContent" />
		</mat-drawer-content>
	</mat-drawer-container>
} @else {
	<div class="mobile-view">
		<div class="flex-grow-1 flex-shrink-1 overflow-y-auto">
			<ng-container [ngTemplateOutlet]="pageContent" />
		</div>
		<ng-container [ngTemplateOutlet]="mobile" />
	</div>
}

<ng-template #pageContent>
	<ng-content />
</ng-template>

<ng-template #actionsMenu>
	<button [matMenuTriggerFor]="sidebarActionsMenu" class="more-actions-button">
		<mat-icon>more_horiz</mat-icon>
	</button>
	<mat-menu #sidebarActionsMenu="matMenu">
		<div class="d-flex flex-column gap-0 actions-menu">
			<a
				mat-menu-item
				class="d-flex align-items-center gap-2"
				[routerLink]="navigationService.private().profile().index()"
			>
				<mat-icon>person</mat-icon>
				{{ 'navigation.profile' | transloco }}
			</a>
			<a
				mat-menu-item
				class="d-flex align-items-center gap-2"
				[routerLink]="navigationService.private().settings()"
			>
				<mat-icon>settings</mat-icon>
				{{ 'navigation.settings' | transloco }}
			</a>
			<button mat-menu-item class="d-flex align-items-center gap-2 pointer-cursor" (click)="toggleTheme()">
				<mat-icon>contrast</mat-icon>
				{{ 'navigation.theme' | transloco }}
			</button>
			<a
				mat-menu-item
				class="d-flex align-items-center gap-2"
				[routerLink]="navigationService.account().logout()"
			>
				<mat-icon>logout</mat-icon>
				{{ 'navigation.logout' | transloco }}
			</a>
		</div>
	</mat-menu>
</ng-template>

<ng-template #mobile>
	<div class="position-sticky bottom-0 start-0 p-2 w-100 mobile-navigation">
		<div
			class="d-flex flex-row justify-content-around align-items-center w-100 h-100 fs-4 gap-2 flex-grow-1 fw-medium mobile-actions"
		>
			<a
				class="ex-nav-button d-flex align-items-center gap-2 justify-content-center"
				[routerLink]="navigationService.private().dashboard()"
				routerLinkActive="active"
			>
				<mat-icon>home</mat-icon>
			</a>

			<a
				class="ex-nav-button d-flex align-items-center gap-2 justify-content-center"
				[routerLink]="navigationService.private().transactions()"
				routerLinkActive="active"
			>
				<mat-icon>sync_alt</mat-icon>
			</a>
			<a
				class="ex-nav-button d-flex align-items-center gap-2 justify-content-center"
				[routerLink]="navigationService.private().statistics()"
				routerLinkActive="active"
			>
				<mat-icon>leaderboard</mat-icon>
			</a>
			<a
				class="ex-nav-button d-flex align-items-center gap-2 justify-content-center"
				[routerLink]="navigationService.private().goals()"
				routerLinkActive="active"
			>
				<mat-icon>emoji_events</mat-icon>
			</a>
			<a
				class="ex-nav-button d-flex align-items-center gap-2 justify-content-center"
				[routerLink]="navigationService.private().debts()"
				routerLinkActive="active"
			>
				<mat-icon>account_balance</mat-icon>
			</a>
			<a
				class="ex-nav-button d-flex align-items-center gap-2 justify-content-center"
				[routerLink]="navigationService.private().profile().index()"
				routerLinkActive="active"
			>
				<mat-icon>person</mat-icon>
			</a>
		</div>
	</div>
</ng-template>
