@import "../../../styles/imports.scss";

:host {
	--mat-sidenav-container-background-color: var(--app-card-color);
}

mat-drawer.mat-drawer-side {
	--mat-sidenav-container-shape: 0;

	width: max-content;
	height: 100dvh;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

	a.ex-nav-button.active {
		background-color: var(--app-background-color);
	}

	@include displayLg {
		width: 20dvw;
		--mat-sidenav-container-shape: 16px;
	}
}

mat-drawer-content.mat-drawer-content {
	background-color: var(--app-background-color);
}

.mobile-navigation {
	background-color: var(--app-background-color);
}

.mobile-actions {
	padding: 0.5rem;
	border-radius: 20px;
	background-color: var(--app-card-color);
}

.mobile-view {
	height: 100%;
	display: flex;
	flex-direction: column;
}