@if (display.isMd()) {
	<mat-drawer-container class="h-100">
		<mat-drawer mode="side" class="px-2" opened disableClose data-testid="sidebar">
			<div class="d-flex flex-column align-items-center h-100 py-4 gap-5">
				<a class="px-xl-2" [routerLink]="navigationService.private().index()">
					@if (display.isXl()) {
						<mat-icon
							data-testid="logoHorizontal"
							class="h-auto w-auto m-0"
							[svgIcon]="svgIcons.logoHorizontal"
						/>
					} @else {
						<mat-icon data-testid="logoCompact" class="m-0" [svgIcon]="svgIcons.logo" />
					}
				</a>
				<div class="d-flex flex-column h-100 w-100 flex-grow-1 fs-4 gap-3 gap-xl-2 fw-medium">
					@if (currentUserService.isAuthenticated()) {
						@if (isAdminUser()) {
							<a
								data-testid="navAdminBtn"
								class="ex-nav-button d-flex align-items-center gap-2"
								[routerLink]="navigationService.private().admin()"
								routerLinkActive="active"
							>
								<mat-icon>shield_person</mat-icon>
								@if (display.isXl()) {
									{{ 'navigation.admin' | translate }}
								}
							</a>
						}
						<a
							data-testid="navDashboardBtn"
							class="ex-nav-button d-flex align-items-center gap-2"
							[routerLink]="navigationService.private().dashboard()"
							routerLinkActive="active"
						>
							<mat-icon>home</mat-icon>
							@if (display.isXl()) {
								{{ 'navigation.dashboard' | translate }}
							}
						</a>
						<a
							data-testid="navTransactionsBtn"
							class="ex-nav-button d-flex align-items-center gap-2"
							[routerLink]="navigationService.private().transactions()"
							routerLinkActive="active"
						>
							<mat-icon>sync_alt</mat-icon>
							@if (display.isXl()) {
								{{ 'navigation.transactions' | translate }}
							}
						</a>
						<a
							data-testid="navStatisticsBtn"
							class="ex-nav-button d-flex align-items-center gap-2"
							[routerLink]="navigationService.private().statistics()"
							routerLinkActive="active"
						>
							<mat-icon>leaderboard</mat-icon>
							@if (display.isXl()) {
								{{ 'navigation.statistics' | translate }}
							}
						</a>
						<a
							data-testid="navGoalsBtn"
							class="ex-nav-button d-flex align-items-center gap-2"
							[routerLink]="navigationService.private().goals()"
							routerLinkActive="active"
						>
							<mat-icon>emoji_events</mat-icon>
							@if (display.isXl()) {
								{{ 'navigation.goals' | translate }}
							}
						</a>
						<a
							data-testid="navDebtsBtn"
							class="ex-nav-button d-flex align-items-center gap-2"
							[routerLink]="navigationService.private().debts()"
							routerLinkActive="active"
						>
							<mat-icon>account_balance</mat-icon>
							@if (display.isXl()) {
								{{ 'navigation.debts' | translate }}
							}
						</a>
						<a
							data-testid="navInvestmentsBtn"
							class="ex-nav-button d-flex align-items-center gap-2"
							[routerLink]="navigationService.private().investments()"
							routerLinkActive="active"
						>
							<mat-icon>finance_mode</mat-icon>
							@if (display.isXl()) {
								{{ 'navigation.investments' | translate }}
							}
						</a>
					} @else {
						<a
							data-testid="navHomeBtn"
							class="ex-nav-button d-flex align-items-center gap-2"
							[routerLink]="navigationService.index()"
							routerLinkActive="active"
							[routerLinkActiveOptions]="{ exact: true }"
						>
							<mat-icon>home</mat-icon>
							@if (display.isXl()) {
								{{ 'navigation.home' | translate }}
							}
						</a>
						<a
							data-testid="navLoginBtn"
							class="ex-nav-button d-flex align-items-center gap-2"
							[routerLink]="navigationService.account().login()"
							routerLinkActive="active"
						>
							<mat-icon>login</mat-icon>
							@if (display.isXl()) {
								{{ 'navigation.login' | translate }}
							}
						</a>
						<a
							data-testid="navRegisterBtn"
							class="ex-nav-button d-flex align-items-center gap-2"
							[routerLink]="navigationService.account().register()"
							routerLinkActive="active"
						>
							<mat-icon>person_add</mat-icon>
							@if (display.isXl()) {
								{{ 'navigation.registration' | translate }}
							}
						</a>
					}
				</div>

				@if (display.isXl()) {
					<div class="d-flex gap-4 actions">
						@if (currentUserService.isAuthenticated()) {
							<ex-button
								data-testid="manageAccountsBtn"
								iconButton
								matIcon="manage_accounts"
								color="accent"
								(click)="openProfileDialog()"
							/>
						}

						@if (!currentUserService.isAuthenticated()) {
							<ex-language-select
								data-testid="languageSelectBtn"
								menu
								[language]="initialLang()"
								(changed)="setLang($event)"
							>
								<ex-button iconButton matIcon="language" color="accent" />
							</ex-language-select>
						}

						<ex-button
							data-testid="themeBtn"
							iconButton
							matIcon="contrast"
							color="accent"
							(click)="toggleTheme()"
						/>

						@if (currentUserService.isAuthenticated()) {
							<ex-button
								data-testid="logoutBtn"
								iconButton
								matIcon="logout"
								color="accent"
								(click)="logout()"
							/>
						}
					</div>
				} @else {
					<ng-container [ngTemplateOutlet]="actionsMenu" />
				}
			</div>
		</mat-drawer>
		<mat-drawer-content class="overflow-x-hidden">
			<ng-container [ngTemplateOutlet]="pageContent" />
		</mat-drawer-content>
	</mat-drawer-container>
} @else {
	<div class="mobile-view">
		<div class="flex-grow-1 flex-shrink-1 overflow-y-auto">
			<ng-container [ngTemplateOutlet]="pageContent" />
		</div>
		<ng-container [ngTemplateOutlet]="mobile" />
	</div>
}

<ng-template #pageContent>
	<ng-content />
</ng-template>

<ng-template #actionsMenu>
	<button data-testid="moreActionsBtn" [matMenuTriggerFor]="sidebarActionsMenu" class="more-actions-button">
		<mat-icon>more_horiz</mat-icon>
	</button>
</ng-template>

<ng-template #mobile>
	<div data-testid="mobileNavigation" class="position-sticky bottom-0 start-0 p-2 w-100 mobile-navigation">
		<div
			class="d-flex flex-row justify-content-around align-items-center w-100 h-100 fs-4 gap-2 flex-grow-1 fw-medium mobile-actions"
		>
			@if (currentUserService.isAuthenticated()) {
				@if (isAdminUser()) {
					<a
						data-testid="mobileNavAdminBtn"
						class="ex-nav-button d-flex align-items-center gap-2 justify-content-center"
						[routerLink]="navigationService.private().admin()"
						routerLinkActive="active"
					>
						<mat-icon>shield_person</mat-icon>
					</a>
				}
				<a
					data-testid="mobileNavDashboardBtn"
					class="ex-nav-button d-flex align-items-center gap-2 justify-content-center"
					[routerLink]="navigationService.private().dashboard()"
					routerLinkActive="active"
				>
					<mat-icon>home</mat-icon>
				</a>

				<a
					data-testid="mobileNavTransactionsBtn"
					class="ex-nav-button d-flex align-items-center gap-2 justify-content-center"
					[routerLink]="navigationService.private().transactions()"
					routerLinkActive="active"
				>
					<mat-icon>sync_alt</mat-icon>
				</a>
				<a
					data-testid="mobileNavStatisticsBtn"
					class="ex-nav-button d-flex align-items-center gap-2 justify-content-center"
					[routerLink]="navigationService.private().statistics()"
					routerLinkActive="active"
				>
					<mat-icon>leaderboard</mat-icon>
				</a>
				<a
					data-testid="mobileNavGoalsBtn"
					class="ex-nav-button d-flex align-items-center gap-2 justify-content-center"
					[routerLink]="navigationService.private().goals()"
					routerLinkActive="active"
				>
					<mat-icon>emoji_events</mat-icon>
				</a>
				<a
					data-testid="mobileNavDebtsBtn"
					class="ex-nav-button d-flex align-items-center gap-2 justify-content-center"
					[routerLink]="navigationService.private().debts()"
					routerLinkActive="active"
				>
					<mat-icon>account_balance</mat-icon>
				</a>
				<a
					data-testid="mobileNavInvestmentsBtn"
					class="ex-nav-button d-flex align-items-center gap-2 justify-content-center"
					[routerLink]="navigationService.private().investments()"
					routerLinkActive="active"
				>
					<mat-icon>finance_mode</mat-icon>
				</a>
			} @else {
				<a
					data-testid="mobileNavHomeBtn"
					class="ex-nav-button d-flex align-items-center gap-2"
					[routerLink]="navigationService.index()"
					routerLinkActive="active"
					[routerLinkActiveOptions]="{ exact: true }"
				>
					<mat-icon>home</mat-icon>
				</a>
				<a
					data-testid="mobileNavLoginBtn"
					class="ex-nav-button d-flex align-items-center gap-2"
					[routerLink]="navigationService.account().login()"
					routerLinkActive="active"
				>
					<mat-icon>login</mat-icon>
				</a>
				<a
					data-testid="mobileNavRegisterBtn"
					class="ex-nav-button d-flex align-items-center gap-2"
					[routerLink]="navigationService.account().register()"
					routerLinkActive="active"
				>
					<mat-icon>person_add</mat-icon>
				</a>
			}

			<button
				data-testid="mobileMoreActionsBtn"
				class="ex-nav-button d-flex align-items-center gap-2 justify-content-center"
				[matMenuTriggerFor]="sidebarActionsMenu"
			>
				<mat-icon>more_horiz</mat-icon>
			</button>
		</div>
	</div>
</ng-template>

<mat-menu #sidebarActionsMenu>
	<div class="d-flex flex-column gap-0 actions-menu">
		@if (currentUserService.isAuthenticated()) {
			<button
				data-testid="accountSettingsMenuItem"
				mat-menu-item
				class="d-flex align-items-center gap-2"
				(click)="openProfileDialog()"
			>
				<mat-icon>manage_accounts</mat-icon>
				{{ 'navigation.accountSettings' | translate }}
			</button>
		}

		@if (!currentUserService.isAuthenticated()) {
			<ex-language-select menu [language]="initialLang()" (changed)="setLang($event)" stopPropagation>
				<button data-testid="languageMenuItem" mat-menu-item class="d-flex align-items-center gap-2">
					<mat-icon>language</mat-icon>
					{{ 'navigation.language' | translate }}
				</button>
			</ex-language-select>
		}

		<button
			data-testid="themeMenuItem"
			mat-menu-item
			class="d-flex align-items-center gap-2 pointer-cursor"
			(click)="toggleTheme()"
		>
			<mat-icon>contrast</mat-icon>
			{{ 'navigation.theme' | translate }}
		</button>

		@if (currentUserService.isAuthenticated()) {
			<a
				data-testid="logoutMenuItem"
				mat-menu-item
				class="d-flex align-items-center gap-2"
				[routerLink]="navigationService.account().logout()"
			>
				<mat-icon>logout</mat-icon>
				{{ 'navigation.logout' | translate }}
			</a>
		}
	</div>
</mat-menu>
