<ex-dialog-card [formGroup]="form" (submit)="create()" [confirmExitDialog]="dialogRef" data-testid="add-workspace">
	<div ex-dialog-card-title>{{ 'profile.workspaces.create.title' | translate }}</div>

	<form ex-dialog-card-content class="d-flex flex-column gap-3 py-2">
		@let nameControl = form.controls.name;
		<mat-form-field>
			<mat-label>{{ 'profile.workspaces.create.nameLabel' | translate }}</mat-label>
			<input data-testid="add-workspace-name-input" matInput autoTrim [formControl]="nameControl" />
			<ex-input-clear data-testid="add-workspace-name-input-clear" matSuffix [control]="nameControl" />
			<mat-error>
				<ex-validator [control]="nameControl" />
			</mat-error>
		</mat-form-field>

		@let currencyControl = form.controls.baseCurrency;
		<mat-form-field>
			<mat-label>{{ 'profile.workspaces.create.currencyLabel' | translate }}</mat-label>
			<mat-select data-testid="add-workspace-currency-input" [formControl]="currencyControl">
				@for (currency of currencies | enumValue; track currency) {
					<mat-option data-testid="add-workspace-currency-options" [value]="currency"
						>{{ currency }} - {{ localizeCurrency(currency) }}</mat-option
					>
				}
			</mat-select>
			<mat-error>
				<ex-validator [control]="currencyControl" />
			</mat-error>
		</mat-form-field>

		<ex-button class="d-none" type="submit" />
	</form>

	<div
		ex-dialog-card-actions
		class="d-flex flex-column-reverse flex-sm-row justify-content-end align-items-center gap-2 w-100"
	>
		<ex-button
			outline
			color="accent"
			matIcon="close"
			type="button"
			mat-dialog-close
			data-testid="add-workspace-cancel-btn"
		>
			{{ 'literals.cancel' | translate }}
		</ex-button>
		<ex-button
			filled
			color="primary"
			matIcon="add"
			[disabled]="form.invalid"
			(click)="create()"
			data-testid="add-workspace-create-btn"
		>
			{{ 'literals.create' | translate }}
		</ex-button>
	</div>
</ex-dialog-card>
