@if (display.isMd()) {
	<ex-button
		color="primary"
		filled
		matIcon="filter_alt"
		[matMenuTriggerFor]="filterMenu"
		[matBadgeHidden]="!appliedFiltersCount()"
		[matBadge]="appliedFiltersCount()"
		matBadgePosition="before"
	>
		{{ 'filterMenu.addButton' | translate }}
	</ex-button>
} @else {
	<ex-button
		color="primary"
		filled
		matIcon="filter_alt"
		collapseUnder="md"
		collapsedStyle="filled"
		(click)="openBottomSheet()"
		[matBadgeHidden]="!appliedFiltersCount()"
		[matBadge]="appliedFiltersCount()"
		matBadgePosition="before"
	/>
}

<mat-menu #filterMenu>
	<!-- TODO check if propagation directive can be used -->
	<div class="d-flex flex-column gap-3 p-4 menu" (click)="$event.stopPropagation()">
		<div class="d-flex flex-row align-items-center justify-content-between gap-2">
			<h3 class="m-0">{{ 'filterMenu.title' | translate }}</h3>
			<ex-button
				iconButton
				color="primary"
				matIcon="filter_alt_off"
				[disabled]="!appliedFiltersCount()"
				(click)="clearFilters()"
			/>
		</div>

		<ng-container [ngTemplateOutlet]="content" />
	</div>
</mat-menu>

<ng-template #filterSheet>
	<ex-button
		iconButton
		color="primary"
		matIcon="clear"
		(click)="closeSheet()"
		class="position-absolute top-0 end-0"
	/>
	<div class="d-flex flex-column gap-3 p-4 h-100">
		<h3 class="fs-1 m-0 text-center">{{ 'filterMenu.title' | translate }}</h3>

		<div class="d-flex flex-column gap-3 p-4 overflow-y-auto">
			<ng-container [ngTemplateOutlet]="content" />
		</div>

		<div class="d-flex flex-column gap-2">
			<ex-button matIcon="visibility" (click)="closeSheet()" [disabled]="!appliedFiltersCount()">
				{{ 'filterMenu.show' | translate: { filterCount: appliedFiltersCount() } }}
			</ex-button>
			<ex-button color="accent" matIcon="filter_alt_off" (click)="clearFilters(); closeSheet()">
				{{ 'filterMenu.clearAll' | translate }}
			</ex-button>
		</div>
	</div>
</ng-template>

<ng-template #content>
	<ng-content />
</ng-template>
