@import '../../../styles/imports.scss';

:host {
	width: 100%;

	@include displaySm {
		width: 80%;
	}

	@include displayLg {
		width: 60%;
	}
}

a {
	text-decoration: underline;
	color: var(--primary-color);
	transition: color 0.25s;
	&:hover {
		color: var(--hover-color);
	}
}
