@import "../../../styles/imports.scss";

span.username {
	font-weight: bold;
	color: var(--mat-sys-primary-fixed);
}

ex-chart {
	flex: 1 1 0;
	min-width: 300px;
	@include displayMd {
		flex-grow: 3;
	}
}

ex-categories {
	flex: 1 1 0;
	min-width: 250px;
}

ex-summary-container {
	min-width: 200px;
	flex-grow: 1;
}

.summary-container {
	display: grid;
	grid-template-columns: repeat(2, minmax(200px, 1fr));
	grid-template-rows: repeat(2, 1fr);
	gap: 1.5rem;
	
	@include displayXl {
		grid-template-columns: repeat(4, minmax(200px, 1fr));
	}
}

button {
	--mat-button-filled-container-shape: 12px;
	--mat-button-filled-label-text-size: 14px;
	--mat-button-filled-label-text-color: var(--default-text-color);
	--mat-button-filled-label-text-weight: 600;
	
	&.add-expense {
		--mat-button-filled-container-color: var(--tertiary-color);
	}
	
	&.add-income {
		--mat-button-filled-container-color: var(--secondary-color);
	}
}