<section class="d-flex flex-column h-100 justif-content-between p-1 p-sm-3 p-md-4 gap-0">
	<div class="d-flex flex-row justify-content-center justify-content-md-between align-items-center gap-2">
		<div>
			<h1 class="m-0 text-center text-md-start {{ (display.isSm | async) ? 'fs-1' : 'fs-2' }}">
				Welcome back, <span class="username">{{ username() || 'PLACEHOLDER' }}</span
				>!
			</h1>
			<p class="fs-4 m-0 text-center text-md-start">Snapshot of your finances</p>
		</div>
		@if (display.isMd | async) {
			<ng-container [ngTemplateOutlet]="toggleFilter" />
		}
	</div>

	<div class="d-flex flex-column-reverse flex-md-column justify-content-between gap-4 h-100 overflow-hidden">
		<div
			class="d-flex flex-column flex-md-row justify-content-center justify-content-md-between align-items-md-center gap-4"
		>
			@if ((display.isMd | async) === false) {
				<div class="mx-auto">
					<ng-container [ngTemplateOutlet]="toggleFilter" />
				</div>
			}
			<ex-chart />
			<ex-categories
				[expenses]="expenses()"
				[categories]="categories()"
			/>
		</div>

		@if (display.isMd | async) {
			<div class="summary-container">
				<ex-summary-container
					icon="attach_money"
					label="Income"
					[value]="856400"
				/>
				<ex-summary-container
					icon="money_off"
					label="Expenses"
					[value]="210460"
				/>
				<ex-summary-container
					icon="savings"
					label="Balance"
					[value]="645940"
				/>
				<ex-summary-container
					icon="receipt_long"
					[label]="highestSpendingCategory().name"
					[value]="-92600"
				/>
			</div>
		}

		@if (display.isMd | async) {
			<div class="row h-100">
				<ex-data-table
					[type]="transacrionTypes.EXPENSE"
					class="col-6"
					matIcon="money_off"
					[data]="[]"
				/>
				<ex-data-table
					[type]="transacrionTypes.INCOME"
					class="col-6"
					matIcon="attach_money"
					[data]="[]"
				/>
			</div>
		} @else {
			<div class="d-flex flex-column gap-4 align-items-center">
				<ex-data-table
					class="w-100"
					matIcon="attach_money"
					[data]="[]"
				/>
				<ng-container [ngTemplateOutlet]="mobileButtons" />
			</div>
		}
	</div>
</section>

<ng-template #toggleFilter>
	<ex-view-toggle />
</ng-template>

<ng-template #mobileButtons>
	<div
		class="d-flex flex-column-reverse flex-sm-row gap-2 gap-sm-4 justify-content-center align-items-md-center w-100"
	>
		<button
			mat-flat-button
			class="add-expense flex-grow-1"
			(click)="openTransactionDialog(transactionTypes.EXPENSE)"
		>
			Expense
		</button>
		<button
			mat-flat-button
			class="add-income flex-grow-1"
			(click)="openTransactionDialog(transactionTypes.INCOME)"
		>
			Income
		</button>
	</div>
</ng-template>
