<section class="d-flex flex-column h-100 justify-content-between p-2 pb-0 p-sm-3 p-md-4 gap-0">
	<div class="d-flex flex-row justify-content-center justify-content-md-between align-items-center gap-2">
		<div>
			<h1 class="m-0 text-center text-md-start {{ display.isSm() ? 'fs-1' : 'fs-2' }}">
				Welcome back, <span class="username">{{ user().username }}</span
				>!
			</h1>
			<p class="fs-4 m-0 text-center text-md-start">Snapshot of your finances</p>
		</div>
		<!-- @if (display.isMd()) {
		<ng-container [ngTemplateOutlet]="toggleFilter" />
	} -->
	</div>

	<div
		class="d-flex flex-column-reverse flex-md-column justify-content-between gap-4 h-100"
		[class.overflow-hidden]="display.isLg()"
	>
		<div
			class="d-flex flex-column flex-md-row justify-content-center justify-content-md-between align-items-md-center gap-4"
		>
			<!-- @if (display.isMd() === false) {
				<div class="mx-auto">
					<ng-container [ngTemplateOutlet]="toggleFilter" />
				</div>
			} -->

			@if (dashboardWidget()) {
				<ex-chart-widget
					class="flex-grow-1"
					[widget]="dashboardWidget()!"
					isDashboardChart
					[editing]="false"
					(timeframeChanged)="chartTimeframe.set($event)"
				/>
			}
			<ex-categories
				class="h-100"
				[totalExpense]="transactionStore.totalExpense()"
				[totalIncome]="transactionStore.totalIncome()"
				[categories]="categoryStore.categoryResource.value() ?? []"
				[topCategories]="categoryStore.topCategoriesResource.value() ?? []"
			/>
		</div>

		@if (display.isMd()) {
			<div class="d-flex flex-row align-items-center gap-4" cardSlider>
				<ex-summary-container
					class="flex-grow-1"
					matIcon="attach_money"
					title="Income"
					[value]="transactionStore.totalIncome()"
					[type]="transactionTypes.INCOME"
				/>
				<ex-summary-container
					class="flex-grow-1"
					matIcon="money_off"
					title="Expenses"
					[value]="transactionStore.totalExpense()"
					[type]="transactionTypes.EXPENSE"
				/>
				<ex-summary-container
					class="flex-grow-1"
					matIcon="savings"
					title="Balance"
					[value]="transactionStore.balance()"
				/>
			</div>
		}

		@if (display.isMd()) {
			<div class="row gap-4 gap-lg-0 h-100 overflow-hidden">
				<ex-data-table
					class="col-12 col-lg-6"
					matIcon="money_off"
					[transactions]="transactionStore.expenses()"
					[isDataLoading]="transactionStore.expenseResource.isLoading()"
					title="Expenses"
					[type]="transactionTypes.EXPENSE"
					(onScroll)="onScroll(transactionTypes.EXPENSE)"
				/>
				<ex-data-table
					class="col-12 col-lg-6"
					matIcon="attach_money"
					[transactions]="transactionStore.incomes()"
					[isDataLoading]="transactionStore.incomeResource.isLoading()"
					title="Incomes"
					[type]="transactionTypes.INCOME"
					(onScroll)="onScroll(transactionTypes.INCOME)"
				/>
			</div>
		} @else {
			<div class="d-flex flex-column gap-4 align-items-center h-100">
				<ex-data-table
					class="w-100"
					matIcon="attach_money"
					[transactions]="transactionStore.transactions()"
					[isDataLoading]="transactionStore.transactionResource.isLoading()"
					title="Transactions"
					(onScroll)="onScroll()"
				/>
				<ng-container [ngTemplateOutlet]="mobileButtons" />
			</div>
		}
	</div>
</section>

<ng-template #toggleFilter>
	<ex-view-toggle />
</ng-template>

<ng-template #mobileButtons>
	<div class="d-flex flex-column-reverse flex-sm-row gap-2 justify-content-center align-items-md-center w-100">
		<ex-button
			filled
			color="error"
			class="flex-grow-1"
			(click)="openCreateTransactionDialog(transactionTypes.EXPENSE)"
		>
			Expense
		</ex-button>
		<ex-button
			filled
			color="success"
			class="flex-grow-1"
			(click)="openCreateTransactionDialog(transactionTypes.INCOME)"
		>
			Income
		</ex-button>
	</div>
</ng-template>
