@import '../../../styles/imports.scss';

:host {
	display: block;
	height: unset;
	@include displayLg {
		height: 100%;
	}
}

span.username {
	font-weight: bold;
	color: var(--primary-color);
}

ex-chart-widget {
	flex: 1 1 0;
	min-width: 300px;
	@include displayMd {
		flex-grow: 3;
	}
}

ex-categories {
	flex: 1 1 0;
	min-width: 250px;
	max-width: 500px;
}
