<section class="d-flex flex-column h-100 justify-content-between p-2 pb-0 p-sm-3 p-md-4 gap-0">
	<div class="d-flex flex-row justify-content-center justify-content-md-between align-items-center gap-2">
		<div>
			<h1
				data-testid="dashboard-title"
				class="m-0 text-center text-md-start {{ display.isSm() ? 'fs-1' : 'fs-2' }}"
				[innerHTML]="'dashboard.title' | translate: { username: user().username }"
			></h1>
			<p data-testid="dashboard-subtitle" class="fs-4 m-0 text-center text-md-start">
				{{ 'dashboard.subtitle' | translate }}
			</p>
		</div>
	</div>

	<div
		class="d-flex flex-column-reverse flex-md-column justify-content-between gap-4 h-100"
		[class.overflow-hidden]="display.isLg()"
	>
		<div class="d-flex flex-column flex-md-row justify-content-center justify-content-md-between gap-4">
			@if (dashboardWidget()) {
				<ex-chart-widget
					class="flex-grow-1"
					[widget]="dashboardWidget()!"
					noRequest
					[payload]="dashboardPayload()"
					[editing]="false"
					(timeframeChanged)="chartTimeframe.set($event)"
				/>
			}
			<ex-categories
				[isLoading]="categoryStore.topCategoriesAllResource.isLoading()"
				[totalExpense]="transactionStore.totalExpense()"
				[totalIncome]="transactionStore.totalIncome()"
				[categories]="categoryStore.categoryResource.value() ?? []"
				[topCategories]="categoryStore.topCategories()"
			/>
		</div>

		@if (display.isMd()) {
			<div class="d-flex flex-row align-items-center gap-4" cardSlider>
				<ex-summary-container
					data-testid="summary-income"
					class="flex-grow-1"
					matIcon="attach_money"
					[title]="'literals.income' | translate"
					[value]="transactionStore.totalIncome()"
					[type]="transactionTypes.INCOME"
				/>
				<ex-summary-container
					data-testid="summary-expense"
					class="flex-grow-1"
					matIcon="money_off"
					[title]="'literals.expense' | translate"
					[value]="transactionStore.totalExpense()"
					[type]="transactionTypes.EXPENSE"
				/>
				<ex-summary-container
					data-testid="summary-balance"
					class="flex-grow-1"
					matIcon="savings"
					[title]="'literals.balance' | translate"
					[value]="transactionStore.balance()"
				/>
			</div>
		}

		@if (display.isLg()) {
			<div class="d-flex flex-row flex-nowrap gap-4 h-100 overflow-hidden">
				<ex-transaction-list
					data-testid="expenses-list"
					class="flex-grow-1"
					matIcon="money_off"
					[title]="'literals.expenses' | translate"
					[type]="transactionTypes.EXPENSE"
					nonExpandable
				/>
				<ex-transaction-list
					data-testid="income-list"
					class="flex-grow-1"
					matIcon="attach_money"
					[title]="'literals.income' | translate"
					[type]="transactionTypes.INCOME"
					nonExpandable
				/>
			</div>
		} @else {
			<div class="d-flex flex-column gap-4 align-items-center h-100">
				<ex-transaction-list
					data-testid="transactions-list"
					class="w-100"
					matIcon="attach_money"
					[title]="'literals.transactions' | translate"
					nonExpandable
				/>
				<ng-container [ngTemplateOutlet]="mobileButtons" />
			</div>
		}
	</div>
</section>

<ng-template #mobileButtons>
	<div class="d-flex flex-column-reverse flex-sm-row gap-2 justify-content-center align-items-md-center w-100">
		<ex-button
			data-testid="create-expense-btn"
			filled
			color="error"
			class="flex-grow-1"
			(click)="openCreateTransactionDialog(transactionTypes.EXPENSE)"
		>
			{{ 'literals.expense' | translate }}
		</ex-button>
		<ex-button
			data-testid="create-income-btn"
			filled
			color="success"
			class="flex-grow-1"
			(click)="openCreateTransactionDialog(transactionTypes.INCOME)"
		>
			{{ 'literals.income' | translate }}
		</ex-button>
	</div>
</ng-template>
