<div [formGroup]="profileForm" [confirmExitDialog]="dialogRef()">
	<!-- Profile data -->
	<form class="d-flex flex-column gap-4" [formGroup]="userDataForm" (submit)="saveUserData()" stopPropagation>
		<div class="d-flex flex-row flex-wrap align-items-center justify-content-start gap-2 w-75">
			<h3 data-testid="profile-information-profile-data-title" class="m-0 text-start fs-2">
				{{ 'profile.title' | translate }}
			</h3>
			<div class="d-flex flex-row flex-nowwrap align-items-center justify-content-center gap-2">
				@if (isUserDataFormEditing()) {
					<ex-button
						data-testid="profile-data-edit-cancel-btn"
						outlined
						color="accent"
						matIcon="close"
						collapsedStyle="outlined"
						collapseUnder="md"
						type="button"
						(click)="cancelDataEditing()"
					>
						{{ 'literals.cancel' | translate }}
					</ex-button>
					<ex-button
						data-testid="profile-data-edit-save-btn"
						filled
						color="primary"
						matIcon="check"
						collapsedStyle="filled"
						collapseUnder="md"
						[disabled]="userDataForm.invalid"
						type="submit"
					>
						{{ 'literals.save' | translate }}
					</ex-button>
				} @else {
					<ex-button
						data-testid="profile-data-edit-btn"
						iconButton
						matIcon="edit"
						color="primary"
						type="button"
						(click)="isUserDataFormEditing.set(true)"
					/>
				}
			</div>
		</div>

		<div class="d-flex flex-column align-items-md-start flex-md-row gap-3 w-100 mb-2">
			@let nameControl = userDataForm.controls.username;
			<mat-form-field subscriptSizing="dynamic">
				<mat-label>{{ 'profile.username' | translate }}</mat-label>
				<input
					data-testid="profile-information-profile-data-username-input"
					matInput
					autoTrim
					[formControl]="nameControl"
				/>
				<ex-input-clear
					data-testid="profile-information-profile-data-username-input-clear"
					matSuffix
					[control]="nameControl"
				/>
				<mat-error>
					<ex-validator [control]="nameControl" />
				</mat-error>
			</mat-form-field>

			@let emailControl = userDataForm.controls.email;
			<mat-form-field subscriptSizing="dynamic">
				<mat-label>{{ 'profile.email' | translate }}</mat-label>
				<input
					data-testid="profile-data-email-input"
					matInput
					autoTrim
					type="email"
					[formControl]="emailControl"
				/>
				<mat-error>
					<ex-validator [control]="emailControl" />
				</mat-error>
			</mat-form-field>
		</div>
	</form>

	<mat-divider class="w-100" />

	<!-- Password -->
	<form form [formGroup]="passwordForm" (submit)="savePassword()" stopPropagation class="d-flex flex-column gap-4">
		<div class="d-flex flex-row flex-wrap align-items-center justify-content-start gap-2 w-75">
			<h3 data-testid="profile-information-change-password-title" class="m-0 text-start fs-2">
				{{ 'profile.changePassword' | translate }}
			</h3>
			<div class="d-flex flex-row flex-nowrap align-items-center justify-content-center gap-2">
				@if (isPasswordFormEditing()) {
					<ex-button
						data-testid="profile-information-edit-cancel-btn"
						outlined
						color="accent"
						matIcon="close"
						collapsedStyle="outlined"
						collapseUnder="md"
						type="button"
						(click)="cancelPasswordEditing()"
					>
						{{ 'literals.cancel' | translate }}
					</ex-button>
					<ex-button
						data-testid="profile-information-edit-save-btn"
						filled
						color="primary"
						matIcon="check"
						collapsedStyle="filled"
						collapseUnder="md"
						[disabled]="passwordForm.invalid"
						type="submit"
					>
						{{ 'literals.save' | translate }}
					</ex-button>
				} @else {
					<ex-button
						data-testid="profile-information-edit-btn"
						iconButton
						matIcon="edit"
						color="primary"
						type="button"
						[matTooltip]="'profile.changePassword' | translate"
						(click)="isPasswordFormEditing.set(true)"
					/>
				}
			</div>
		</div>
		<div class="d-flex flex-column gap-3 w-100">
			@let pwdControl = passwordForm.controls.password;
			<mat-form-field>
				<mat-label>{{ 'profile.oldPassword' | translate }}</mat-label>
				<input
					data-testid="profile-information-old-pwd-input"
					matInput
					[type]="showPassword() ? 'text' : 'password'"
					[formControl]="pwdControl"
				/>
				<ex-show-password
					data-testid="profile-information-old-pwd-show"
					matSuffix
					[showPassword]="showPassword()"
					[control]="pwdControl"
					(toggled)="togglePassword()"
				/>
				<ex-input-clear
					data-testid="profile-information-old-pwd-input-clear"
					matSuffix
					[control]="pwdControl"
				/>
				<mat-error>
					<ex-validator [control]="pwdControl" />
				</mat-error>
			</mat-form-field>

			<div class="d-flex flex-column flex-md-row gap-3 w-100">
				@let newPwdControl = passwordForm.controls.newPassword;
				<mat-form-field>
					<mat-label>{{ 'profile.newPassword' | translate }}</mat-label>
					<input
						data-testid="profile-information-new-pwd-input"
						matInput
						[type]="showPassword() ? 'text' : 'password'"
						[formControl]="newPwdControl"
					/>
					<ex-show-password
						data-testid="profile-information-new-pwd-show"
						matSuffix
						[showPassword]="showPassword()"
						[control]="newPwdControl"
						(toggled)="togglePassword()"
					/>
					<ex-input-clear
						data-testid="profile-information-new-pwd-input-clear"
						matSuffix
						[control]="newPwdControl"
					/>
					<mat-error>
						<ex-validator [control]="newPwdControl" />
					</mat-error>
				</mat-form-field>

				@let confirmPwdControl = passwordForm.controls.confirmPassword;
				<mat-form-field>
					<mat-label>{{ 'profile.confirmPassword' | translate }}</mat-label>
					<input
						data-testid="profile-information-confirm-pwd-input"
						matInput
						[type]="showPassword() ? 'text' : 'password'"
						[formControl]="confirmPwdControl"
					/>
					<ex-show-password
						data-testid="profile-information-confirm-pwd-show"
						matSuffix
						[showPassword]="showPassword()"
						[control]="confirmPwdControl"
						(toggled)="togglePassword()"
					/>
					<ex-input-clear
						data-testid="profile-information-confirm-pwd-input-clear"
						matSuffix
						[control]="confirmPwdControl"
					/>
					<mat-error>
						<ex-validator [control]="confirmPwdControl" />
					</mat-error>
				</mat-form-field>
			</div>
		</div>
	</form>
</div>
