<ex-dialog-card [formGroup]="form" (submit)="create()" [confirmExitDialog]="dialogRef">
	<div ex-dialog-card-title>{{ data.title }}</div>

	<form ex-dialog-card-content class="d-flex flex-column gap-3 py-2">
		@let assetControl = form.controls.asset;
		<mat-form-field>
			<mat-label>{{ 'investments.create.asset' | translate }}</mat-label>
			<input matInput autoTrim [formControl]="assetControl" [matAutocomplete]="assetAuto" />
			@if (!data.locked) {
				<ex-input-clear matSuffix [control]="assetControl" />
			}
			<mat-error>
				<ex-validator [control]="assetControl" />
			</mat-error>
			<mat-autocomplete #assetAuto (optionSelected)="onAssetSelected($event)">
				@for (asset of filteredAssets(); track asset.name) {
					<mat-option [value]="asset.name">{{ asset.name }}</mat-option>
				}
			</mat-autocomplete>
		</mat-form-field>

		<div class="d-flex flex-column flex-sm-row gap-3">
			@let dateControl = form.controls.purchaseDate;
			<mat-form-field>
				<mat-label>{{ 'investments.create.date' | translate }}</mat-label>
				<input matInput [matDatepicker]="datePicker" [formControl]="dateControl" />
				<mat-datepicker-toggle matIconSuffix [for]="datePicker" />
				<mat-datepicker #datePicker />
				<mat-error>
					<ex-validator [control]="dateControl" />
				</mat-error>
			</mat-form-field>

			@let typeControl = form.controls.type;
			<mat-form-field>
				<mat-label>{{ 'investments.create.type' | translate }}</mat-label>
				<mat-select [formControl]="typeControl">
					@for (type of investmentTypes | enumValue; track type) {
						<mat-option [value]="type">{{ codeForType(type) | translate }}</mat-option>
					}
				</mat-select>
				<mat-error>
					<ex-validator [control]="typeControl" />
				</mat-error>
			</mat-form-field>
		</div>

		<div class="d-flex flex-column flex-sm-row align-items-sm-start gap-3">
			<ex-amount-stepper
				class="mb-3 flex-grow-1"
				[control]="form.controls.amount"
				[label]="'investments.create.amount'"
				[min]="0.01"
				[step]="amountStep()"
			/>

			@let currencyControl = form.controls.currency;
			<mat-form-field>
				<mat-label>{{ 'investments.create.currency' | translate }}</mat-label>
				<mat-select [formControl]="currencyControl">
					@for (currency of currencies | enumValue; track currency) {
						<mat-option [value]="currency">{{ currency }}</mat-option>
					}
				</mat-select>
				<mat-error>
					<ex-validator [control]="currencyControl" />
				</mat-error>
			</mat-form-field>
		</div>

		@let noteControl = form.controls.note;
		<mat-form-field>
			<mat-label>{{ 'investments.create.note' | translate }}</mat-label>
			<input matInput autoTrim [formControl]="noteControl" />
			<ex-input-clear matSuffix [control]="noteControl" />
			<mat-error>
				<ex-validator [control]="noteControl" />
			</mat-error>
		</mat-form-field>

		<ex-button class="d-none" type="submit" />
	</form>

	<div
		ex-dialog-card-actions
		class="d-flex flex-column-reverse flex-sm-row justify-content-end align-items-center gap-2 w-100"
	>
		<ex-button outline color="accent" matIcon="close" type="button" mat-dialog-close>
			{{ 'literals.cancel' | translate }}
		</ex-button>
		<ex-button filled color="primary" matIcon="add" [disabled]="form.invalid" (click)="create()">
			{{ 'literals.create' | translate }}
		</ex-button>
	</div>
</ex-dialog-card>
