<section class="d-flex flex-column h-100 p-2 pb-0 p-sm-3 p-md-4 gap-4" [class.overflow-hidden]="display.isLg()">
	<div
		class="d-flex flex-column flex-md-row justify-content-center justify-content-md-between align-items-center gap-2"
	>
		<h2 class="m-0 text-center text-md-start {{ display.isSm() ? 'fs-1' : 'fs-2' }}">
			@if (selectedIndex === 0) {
				{{ 'admin.statistics.label' | translate }}
			} @else if (selectedIndex === 1) {
				{{ 'admin.logs.label' | translate }}
			} @else {
				{{ 'admin.configurations.label' | translate }}
			}
		</h2>
		<mat-tab-group
			animationDuration="0ms"
			mat-stretch-tabs="false"
			[(selectedIndex)]="selectedIndex"
			dynamicHeight="false"
			class="invert-color"
		>
			<mat-tab>
				<ng-template mat-tab-label>
					<div class="d-flex flex-row flex-nowrap align-items-center gap-2">
						<mat-icon size="md">leaderboards</mat-icon>
						@if (display.isMd()) {
							{{ 'admin.statistics.label' | translate }}
						}
					</div>
				</ng-template>
			</mat-tab>
			<mat-tab>
				<ng-template mat-tab-label>
					<div class="d-flex flex-row flex-nowrap align-items-center gap-2">
						<mat-icon size="md">list</mat-icon>
						@if (display.isMd()) {
							{{ 'admin.logs.label' | translate }}
						}
					</div>
				</ng-template>
			</mat-tab>
			<mat-tab>
				<ng-template mat-tab-label>
					<div class="d-flex flex-row flex-nowrap align-items-center gap-2">
						<mat-icon size="md">settings</mat-icon>
						@if (display.isMd()) {
							{{ 'admin.configurations.label' | translate }}
						}
					</div>
				</ng-template>
			</mat-tab>
		</mat-tab-group>
	</div>
	@if (selectedIndex === 0) {
		<ng-container [ngTemplateOutlet]="statisticsTab" />
	} @else if (selectedIndex === 1) {
		<ng-container [ngTemplateOutlet]="logsTab" />
	} @else {
		<ng-container [ngTemplateOutlet]="configurationsTab" />
	}
</section>

<ng-template #statisticsTab>
	<ex-admin-statistics-list />
</ng-template>

<ng-template #logsTab>
	<div class="d-flex flex-column flex-grow-1 gap-2 bigger-row" [class.overflow-hidden]="display.isLg()">logs</div>
</ng-template>

<ng-template #configurationsTab>
	<ex-admin-configs />
</ng-template>
