<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
  "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
  "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">
  <property name="charset" value="UTF-8"/>
  <property name="severity" value="warning"/>
  <property name="fileExtensions" value="java"/>


  <module name="LineLength">
    <property name="max" value="120"/>
    <property name="ignorePattern" value="^package.*|^import.*|a href|href|http://|https://"/>
  </module>

  <module name="SuppressWarningsFilter"/>

  <module name="TreeWalker">
    <module name="SuppressWarningsHolder"/>

    <!-- Coding best practices -->
    <module name="EqualsHashCode"/>
    <module name="SimplifyBooleanExpression"/>
    <module name="SimplifyBooleanReturn"/>
    <module name="StringLiteralEquality"/>
    <module name="NoFinalizer"/>
    <module name="IllegalThrows"/>
    <module name="FallThrough"/>
    <module name="EmptyStatement"/>

    <!-- Complexity checks -->
    <module name="CyclomaticComplexity">
      <property name="max" value="20"/>
    </module>

    <!-- Naming conventions -->
    <module name="ConstantName"/>
    <module name="LocalFinalVariableName"/>
    <module name="LocalVariableName"/>
    <module name="MemberName"/>
    <module name="MethodName"/>
    <module name="PackageName">
      <property name="format" value="^[a-z]+(\.[a-z][a-z0-9]*)*$"/>
    </module>
    <module name="ParameterName"/>
    <module name="TypeName"/>

    <!-- Imports -->
    <module name="AvoidStarImport"/>
    <module name="IllegalImport"/>
    <module name="RedundantImport"/>
    <module name="UnusedImports"/>

    <!-- Class design -->
    <module name="FinalClass"/>
    <module name="HideUtilityClassConstructor"/>
    <module name="SuppressionXpathSingleFilter">
      <property name="checks" value="HideUtilityClassConstructor"/>
      <property name="query" value="//*[MODIFIERS//*[@text = 'UtilityClass']]"/>
    </module>
    <module name="InterfaceIsType"/>
    <module name="OneTopLevelClass"/>

    <!-- Modifiers -->
    <module name="ModifierOrder"/>
    <module name="RedundantModifier"/>

    <module name="MissingOverride"/>
    <module name="MagicNumber">
      <property name="ignoreNumbers" value="-1, 0, 1, 2"/>
    </module>
    <module name="RegexpSinglelineJava">
      <property name="format" value="System\.out\.println"/>
      <property name="message" value="Use logger instead of System.out.println!"/>
      <property name="ignoreComments" value="true"/>
    </module>
    <module name="MethodLength">
      <property name="max" value="60"/>
    </module>


  </module>
</module>
