// only variables, no styles in this file
@use '@angular/material' as mat;
@use 'sass:map';

$palettes: (
	primary: (
		0: #000000,
		10: #121420,
		20: #151828,
		25: #22233a,
		30: #2e2f46,
		35: #3a3b52,
		40: #46455e,
		50: #5e5e7a,
		60: #767796,
		70: #8e8fb2,
		80: #a6a7ce,
		90: #c9c9f2,
		95: #e4e4fa,
		98: #f6f6fd,
		99: #fcfcff,
		100: #ffffff,
	),
	secondary: (
		0: #000000,
		10: #00210c,
		20: #003919,
		25: #004520,
		30: #005227,
		35: #00602e,
		40: #006d35,
		50: #008945,
		60: #1aa657,
		70: #42c26f,
		80: #61de88,
		90: #7efba2,
		95: #c4ffcd,
		98: #eaffe9,
		99: #f5fff2,
		100: #ffffff,
	),
	tertiary: (
		0: #000000,
		10: #410005,
		20: #68000e,
		25: #7d0012,
		30: #8e111c,
		35: #9f1f26,
		40: #b02c31,
		50: #d24546,
		60: #f45e5d,
		70: #ff8984,
		80: #ffb3af,
		90: #ffdad7,
		95: #ffedeb,
		98: #fff8f7,
		99: #fffbff,
		100: #ffffff,
	),
	neutral: (
		0: #000000,
		10: #1a1a1f,
		20: #2f2f37,
		25: #3a3a42,
		30: #46464e,
		35: #515159,
		40: #5d5d65,
		50: #76767e,
		60: #909098,
		70: #ababb3,
		80: #c6c6ce,
		90: #e2e2eb,
		95: #f0f0f9,
		98: #f9f9ff,
		99: #fffbff,
		100: #ffffff,
		4: #0e0e13,
		6: #131318,
		12: #1f1f24,
		17: #2a2a2f,
		22: #35353a,
		24: #393940,
		87: #dcdce5,
		92: #e9e9f2,
		94: #efeff8,
		96: #f6f6ff,
	),
	neutral-variant: (
		0: #000000,
		10: #1a1a1f,
		20: #2f2f37,
		25: #3a3a42,
		30: #46464e,
		35: #515159,
		40: #5d5d65,
		50: #76767e,
		60: #909098,
		70: #ababb3,
		80: #c6c6ce,
		90: #e2e2eb,
		95: #f0f0f9,
		98: #f9f9ff,
		99: #fffbff,
		100: #ffffff,
	),
	error: (
		0: #000000,
		10: #410002,
		20: #690005,
		25: #7e0007,
		30: #93000a,
		35: #a80710,
		40: #ba1a1a,
		50: #de3730,
		60: #ff5449,
		70: #ff897d,
		80: #ffb4ab,
		90: #ffdad6,
		95: #ffedea,
		98: #fff8f7,
		99: #fffbff,
		100: #ffffff,
	),
);

$_rest: (
	secondary: map.get($palettes, secondary),
	neutral: map.get($palettes, neutral),
	neutral-variant: map.get($palettes, neutral-variant),
	error: map.get($palettes, error),
);

$primary-palette: map.merge(map.get($palettes, primary), $_rest);
$secondary-palette: map.merge(map.get($palettes, secondary), $_rest);
$tertiary-palette: map.merge(map.get($palettes, tertiary), $_rest);
$neutral-palette: map.merge(map.get($palettes, neutral), $_rest);
$error-palette: map.merge(map.get($palettes, error), $_rest);

// predefined variables
$app-card-color-dark: map.get($primary-palette, 20);
$app-background-color-dark: map.get($primary-palette, 10);

$primary-color-dark: map.get($primary-palette, 90);
$secondary-color-dark: map.get($secondary-palette, 90);
$secondary-color-dark: map.get($secondary-palette, 80);
$tertiary-color-dark: map.get($tertiary-palette, 60);
$app-hover-color-dark: map.get($primary-palette, 60);

$shadow-dark: map.get($neutral-palette, 40);
$border-color-dark: map.get($primary-palette, 10);

$default-text-color-dark: map.get($neutral-palette, 95);
$accent-text-color-dark: map.get($neutral-palette, 85);
$secondary-text-color-dark: map.get($neutral-palette, 90);

$error-color-dark: map.get($error-palette, 50);
