@import './colors-light.scss';
@import './colors-dark.scss';
@import './colors-blue-dolphin.scss';

// default theme
:root {
	--primary-color: #{$primary-color-blue-dolphin};
	--secondary-color: #{$secondary-color-blue-dolphin};
	--tertiary-color: #{$tertiary-color-blue-dolphin};
	--error-color: #{$error-color-blue-dolphin};
	--warn-color: #f1cd39;

	--app-hover-color: #{$app-hover-color-blue-dolphin};

	--app-card-color: #{$app-card-color-blue-dolphin};
	--app-background-color: #{$app-background-color-blue-dolphin};

	--shadow-color: #{$shadow-blue-dolphin};
	--border-color: #{$border-color-blue-dolphin};

	--default-text-color: #{$default-text-color-blue-dolphin};
	--accent-text-color: #{$accent-text-color-blue-dolphin};
	--secondary-text-color: #{$secondary-text-color-blue-dolphin};

	--skeleton-shimmer-color: #{$skeleton-shimmer-color-blue-dolphin};
	--skeleton-surface-color: #{$skeleton-surface-color-blue-dolphin};
}

html.theme-light {
	--primary-color: #{$primary-color-light};
	--secondary-color: #{$secondary-color-light};
	--tertiary-color: #{$tertiary-color-light};
	--error-color: #{$error-color-light};

	--app-hover-color: #{$app-hover-color-light};

	--app-card-color: #{$app-card-color-light};
	--app-background-color: #{$app-background-color-light};

	--shadow-color: #{$shadow-light};
	--border-color: #{$border-color-light};

	--default-text-color: #{$default-text-color-light};
	--accent-text-color: #{$accent-text-color-light};
	--secondary-text-color: #{$secondary-text-color-light};

	--skeleton-shimmer-color: #{$skeleton-shimmer-color-light};
	--skeleton-surface-color: #{$skeleton-surface-color-light};
}

html.theme-dark {
	--primary-color: #{$primary-color-dark};
	--secondary-color: #{$secondary-color-dark};
	--tertiary-color: #{$tertiary-color-dark};
	--error-color: #{$error-color-dark};

	--app-hover-color: #{$app-hover-color-dark};

	--app-card-color: #{$app-card-color-dark};
	--app-background-color: #{$app-background-color-dark};

	--shadow-color: #{$shadow-dark};
	--border-color: #{$border-color-dark};

	--default-text-color: #{$default-text-color-dark};
	--accent-text-color: #{$accent-text-color-dark};
	--secondary-text-color: #{$secondary-text-color-dark};

	--skeleton-shimmer-color: #{$skeleton-shimmer-color-dark};
	--skeleton-surface-color: #{$skeleton-surface-color-dark};
}

html.theme-blue-dolphin {
	--primary-color: #{$primary-color-blue-dolphin};
	--secondary-color: #{$secondary-color-blue-dolphin};
	--tertiary-color: #{$tertiary-color-blue-dolphin};
	--error-color: #{$error-color-blue-dolphin};

	--app-hover-color: #{$app-hover-color-blue-dolphin};

	--app-card-color: #{$app-card-color-blue-dolphin};
	--app-background-color: #{$app-background-color-blue-dolphin};

	--shadow-color: #{$shadow-blue-dolphin};
	--border-color: #{$border-color-blue-dolphin};

	--default-text-color: #{$default-text-color-blue-dolphin};
	--accent-text-color: #{$accent-text-color-blue-dolphin};
	--secondary-text-color: #{$secondary-text-color-blue-dolphin};

	--skeleton-shimmer-color: #{$skeleton-shimmer-color-blue-dolphin};
	--skeleton-surface-color: #{$skeleton-surface-color-blue-dolphin};
}
