<div class="flex-grow-1 overflow-x-hidden overflow-y-auto">
	<ex-theme-select [initialThemes]="initialThemes()" (changed)="themes.set($event)" />

	<mat-divider />

	<h3 class="m-0 text-start fs-2 mb-3">{{ 'profile.userSettings.language.title' | translate }}</h3>
	<ex-language-select [language]="initialLanguage()" (changed)="language.set($event)" />
</div>

<div class="d-flex flex-column">
	<mat-divider />

	<div class="d-flex flex-column-reverse flex-sm-row justify-content-end align-items-center gap-2 w-100">
		@if (saving()) {
			<mat-spinner diameter="24" />
		}
		<ex-button outlined color="accent" matIcon="close" [disabled]="saving()" (click)="cancel()">
			{{ 'literals.cancel' | translate }}
		</ex-button>
		<ex-button
			filled
			color="primary"
			matIcon="check"
			iconPositionEnd
			[disabled]="!hasChanges() || saving()"
			(click)="save()"
		>
			{{ 'literals.save' | translate }}
		</ex-button>
	</div>
</div>
