<ex-dialog-card [formGroup]="form" (submit)="save()" [confirmExitDialog]="dialogRef">
	<div ex-dialog-card-title>{{ 'debts.edit.title' | translate }}</div>

	<form ex-dialog-card-content class="d-flex flex-column gap-3 py-2">
		@let titleControl = form.controls.title;
		<mat-form-field>
			<mat-label>{{ 'debts.edit.titleLabel' | translate }}</mat-label>
			<input matInput autoTrim [formControl]="titleControl" />
			<ex-input-clear matSuffix [control]="titleControl" />
			<mat-error>
				<ex-validator [control]="titleControl" />
			</mat-error>
		</mat-form-field>

		@let counterpartyControl = form.controls.counterpartyName;
		<mat-form-field>
			<mat-label>{{ 'debts.edit.counterpartyName' | translate }}</mat-label>
			<input matInput autoTrim [formControl]="counterpartyControl" />
			<ex-input-clear matSuffix [control]="counterpartyControl" />
			<mat-error>
				<ex-validator [control]="counterpartyControl" />
			</mat-error>
		</mat-form-field>

		<div class="d-flex flex-column flex-sm-row gap-3">
			@let statusControl = form.controls.status;
			<mat-form-field>
				<mat-label>{{ 'debts.edit.status' | translate }}</mat-label>
				<mat-select [formControl]="statusControl">
					@for (status of debtStatuses | enumValue; track status) {
						<mat-option [value]="status">{{ codeForStatus(status) | translate }}</mat-option>
					}
				</mat-select>
				<mat-error>
					<ex-validator [control]="statusControl" />
				</mat-error>
			</mat-form-field>

			@let typeControl = form.controls.type;
			<mat-form-field>
				<mat-label>{{ 'debts.edit.type' | translate }}</mat-label>
				<mat-select [formControl]="typeControl">
					@for (type of debtTypes | enumValue; track type) {
						<mat-option [value]="type">{{ codeForType(type) | translate }}</mat-option>
					}
				</mat-select>
				<mat-error>
					<ex-validator [control]="typeControl" />
				</mat-error>
			</mat-form-field>
		</div>

		<div class="d-flex flex-column flex-sm-row gap-3">
			@let deadlineControl = form.controls.deadline;
			<mat-form-field>
				<mat-label>{{ 'debts.edit.deadline' | translate }}</mat-label>
				<input matInput [matDatepicker]="deadlinePicker" [formControl]="deadlineControl" />
				<mat-datepicker-toggle matIconSuffix [for]="deadlinePicker" />
				<mat-datepicker #deadlinePicker />
				<mat-error>
					<ex-validator [control]="deadlineControl" />
				</mat-error>
			</mat-form-field>
		</div>

		@let categoryControl = form.controls.category.controls;
		<mat-form-field>
			<mat-label>{{ 'debts.edit.category' | translate }}</mat-label>
			<mat-select
				selectAutoFocus
				[focusedInput]="searchCategoryInput"
				[formControl]="categoryControl.category"
				(closed)="categoryControl.searchText.reset()"
			>
				<mat-form-field subscriptSizing="dynamic" class="search-with-select">
					<mat-label>{{ 'debts.edit.search' | translate }}</mat-label>
					<input autoTrim matInput [formControl]="categoryControl.searchText" #searchCategoryInput />
					<ex-input-clear [control]="categoryControl.searchText" />
					<mat-error>
						<ex-validator [control]="categoryControl.searchText" />
					</mat-error>
				</mat-form-field>
				@for (category of filteredCategories(); track category.id) {
					<mat-option [value]="category">
						<mat-icon [style.color]="category.color">{{ category.icon }}</mat-icon>
						{{ category.name }}
					</mat-option>
				}
			</mat-select>
			<mat-error>
				<ex-validator [control]="categoryControl.category" />
			</mat-error>
		</mat-form-field>

		<ex-button class="d-none" type="submit" />
	</form>

	<div ex-dialog-card-content>
		<mat-divider class="my-3" />
		<div class="d-flex flex-column gap-3">
			<p class="m-0 fw-semibold">{{ 'debts.makePayment' | translate }}</p>
			<div class="d-flex flex-row gap-3 align-items-end" [formGroup]="paymentForm">
				<ex-amount-stepper
					class="mb-3 flex-grow-1"
					[control]="paymentForm.controls.amount"
					[label]="'debts.paymentAmount'"
					[min]="0.01"
					[step]="amountStep()"
				/>
				<ex-button
					filled
					color="primary"
					matIcon="payments"
					[disabled]="paymentForm.invalid"
					(click)="makePayment()"
					class="mb-4"
				>
					{{ 'debts.pay' | translate }}
				</ex-button>
			</div>
		</div>
	</div>

	<div
		ex-dialog-card-actions
		class="d-flex flex-column-reverse flex-sm-row justify-content-end align-items-center gap-2 w-100"
	>
		<ex-button outline color="accent" matIcon="close" type="button" mat-dialog-close>
			{{ 'literals.cancel' | translate }}
		</ex-button>
		<ex-button filled color="primary" matIcon="save" [disabled]="form.invalid" (click)="save()">
			{{ 'literals.save' | translate }}
		</ex-button>
	</div>
</ex-dialog-card>
