.dashboard-container {
	padding: 5rem 15rem;
	opacity: 1;
	transition: opacity 0.3s ease;

	&.loading {
		opacity: 0;
	}
}
.title-toggle-row {
	margin-bottom: 2rem;
	display: flex;
	justify-content: space-between;
	&--welcome {
		& span {
			font-weight: bold;
			color: var(--mat-sys-primary-fixed);
		}
	}
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: auto;
	gap: 3rem;
	justify-content: center;
}

.first-row {
	display: flex;
	flex-wrap: nowrap;
	gap: 3rem;
	grid-area: 1 / 1 / 2 / 13;
}

.chart-panel {
	flex-grow: 7;
	flex-shrink: 1;
	flex-basis: 0;
	min-width: 300px;
}

.categories-panel {
	flex-grow: 3;
	flex-shrink: 1;
	flex-basis: 0;
	min-width: 200px;
}

ex-summary-container {
	min-width: 15%;
	max-width: 25%;
}

.summary-container {
	grid-area: 2 / 1 / 3 / 13; // Second row, spanning 12 columns
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	gap: 2rem;
}

.list.expenses {
	grid-area: 3 / 1 / 4 / 7; // Third row, spanning 6 columns
}

.list.incomes {
	grid-area: 3 / 7 / 4 / 13; // Third row, spanning 6 columns
}

.list {
	grid-column: span 2;
	grid-row: 3;
	grid-column: 5;
	grid: 3 5;
	background-color: var(--surface);
	border-radius: 2rem;
	padding: 1rem;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1900px) {
	.dashboard-container {
		padding: 3rem 10rem;
	}
}
@media (max-width: 1700px) {
	.dashboard-container {
		padding: 3rem 7rem;
	}
}
@media (max-width: 1500px) {
	.dashboard-container {
		padding: 1.5rem 3rem;
	}
}

@media (max-width: 1200px) {
	.dashboard-container {
		padding: 1.5rem 2rem;
	}
}

@media (max-width: 1000px) {
	.dashboard-container {
		padding: 1rem 1.5rem;
	}
}

@media (max-width: 768px) {
	.dashboard-container {
		padding: 2rem 2rem;
	}
	.grid-container {
		grid-template-columns: 1fr;
	}

	.chart-panel {
		grid-column: span 1;
	}
}
